extends layout
block navListVertical
block content
  // ========================================= HOME BANNERS =========================================
  section#banner-holder.wow.fadeInUp
    .container
      .col-xs-12.col-lg-6.no-margin.banner
        a(href='category-grid-2.html')
          .banner-text.theblue
            h1 New Life
            span.tagline Introducing New Category
          img.banner-image(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/banners/banner-narrow-01.jpg')
      .col-xs-12.col-lg-6.no-margin.text-right.banner
        a(href='category-grid-2.html')
          .banner-text.right
            h1 Time & Style
            span.tagline Checkout new arrivals
          img.banner-image(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/banners/banner-narrow-02.jpg')
    // /.container
  // /#banner-holder
  // ========================================= HOME BANNERS : END =========================================
  #products-tab.wow.fadeInUp
    .container
      .tab-holder
        // Nav tabs
        ul.nav.nav-tabs
          li.active
            a(href='#featured', data-toggle='tab') featured
          li
            a(href='#new-arrivals', data-toggle='tab') new arrivals
          li
            a(href='#top-sales', data-toggle='tab') top sales
        // Tab panes
        .tab-content
          #featured.tab-pane.active
            .product-grid-holder
              .col-sm-4.col-md-3.no-margin.product-item-holder.hover
                .product-item
                  .ribbon.red
                    span sale
                  .image
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-01.jpg')
                  .body
                    .label-discount.green -50% sale
                    .title
                      a(href='single-product.html') VAIO Fit Laptop - Windows 8 SVF14322CXW
                    .brand sony
                  .prices
                    .price-prev $1399.00
                    .price-current.pull-right $1199.00
                  .hover-area
                    .add-cart-button
                      a.le-button(href='single-product.html') add to cart
                    .wish-compare
                      a.btn-add-to-wishlist(href='#') add to wishlist
                      a.btn-add-to-compare(href='#') compare
              .col-sm-4.col-md-3.no-margin.product-item-holder.hover
                .product-item
                  .ribbon.blue
                    span new!
                  .image
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-02.jpg')
                  .body
                    .label-discount.clear
                    .title
                      a(href='single-product.html') White lumia 9001
                    .brand nokia
                  .prices
                    .price-prev $1399.00
                    .price-current.pull-right $1199.00
                  .hover-area
                    .add-cart-button
                      a.le-button(href='single-product.html') add to cart
                    .wish-compare
                      a.btn-add-to-wishlist(href='#') add to wishlist
                      a.btn-add-to-compare(href='#') compare
              .col-sm-4.col-md-3.no-margin.product-item-holder.hover
                .product-item
                  .image
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-03.jpg')
                  .body
                    .label-discount.clear
                    .title
                      a(href='single-product.html') POV Action Cam
                    .brand sony
                  .prices
                    .price-prev $1399.00
                    .price-current.pull-right $1199.00
                  .hover-area
                    .add-cart-button
                      a.le-button(href='single-product.html') add to cart
                    .wish-compare
                      a.btn-add-to-wishlist(href='#') add to wishlist
                      a.btn-add-to-compare(href='#') compare
              .col-sm-4.col-md-3.no-margin.product-item-holder.hover
                .product-item
                  .ribbon.red
                    span sale
                  .ribbon.green
                    span bestseller
                  .image
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-04.jpg')
                  .body
                    .label-discount.clear
                    .title
                      a(href='single-product.html')
                        | Netbook Acer TravelMate
                        | B113-E-10072
                    .brand acer
                  .prices
                    .price-prev $1399.00
                    .price-current.pull-right $1199.00
                  .hover-area
                    .add-cart-button
                      a.le-button(href='single-product.html') add to cart
                    .wish-compare
                      a.btn-add-to-wishlist(href='#') add to wishlist
                      a.btn-add-to-compare(href='#') compare
            .loadmore-holder.text-center
              a.btn-loadmore(href='#')
                i.fa.fa-plus
                |                             load more products
          #new-arrivals.tab-pane
            .product-grid-holder
              .col-sm-4.col-md-3.no-margin.product-item-holder.hover
                .product-item
                  .ribbon.blue
                    span new!
                  .image
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-02.jpg')
                  .body
                    .label-discount.clear
                    .title
                      a(href='single-product.html') White lumia 9001
                    .brand nokia
                  .prices
                    .price-prev $1399.00
                    .price-current.pull-right $1199.00
                  .hover-area
                    .add-cart-button
                      a.le-button(href='single-product.html') add to cart
                    .wish-compare
                      a.btn-add-to-wishlist(href='#') add to wishlist
                      a.btn-add-to-compare(href='#') compare
              .col-sm-4.col-md-3.no-margin.product-item-holder.hover
                .product-item
                  .ribbon.red
                    span sale
                  .image
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-01.jpg')
                  .body
                    .label-discount.green -50% sale
                    .title
                      a(href='single-product.html') VAIO Fit Laptop - Windows 8 SVF14322CXW
                    .brand sony
                  .prices
                    .price-prev $1399.00
                    .price-current.pull-right $1199.00
                  .hover-area
                    .add-cart-button
                      a.le-button(href='single-product.html') add to cart
                    .wish-compare
                      a.btn-add-to-wishlist(href='#') add to wishlist
                      a.btn-add-to-compare(href='#') compare
              .col-sm-4.col-md-3.no-margin.product-item-holder.hover
                .product-item
                  .ribbon.red
                    span sale
                  .ribbon.green
                    span bestseller
                  .image
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-04.jpg')
                  .body
                    .label-discount.clear
                    .title
                      a(href='single-product.html')
                        | Netbook Acer TravelMate
                        | B113-E-10072
                    .brand acer
                  .prices
                    .price-prev $1399.00
                    .price-current.pull-right $1199.00
                  .hover-area
                    .add-cart-button
                      a.le-button(href='single-product.html') add to cart
                    .wish-compare
                      a.btn-add-to-wishlist(href='#') add to wishlist
                      a.btn-add-to-compare(href='#') compare
              .col-sm-4.col-md-3.no-margin.product-item-holder.hover
                .product-item
                  .image
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-03.jpg')
                  .body
                    .label-discount.clear
                    .title
                      a(href='single-product.html') POV Action Cam
                    .brand sony
                  .prices
                    .price-prev $1399.00
                    .price-current.pull-right $1199.00
                  .hover-area
                    .add-cart-button
                      a.le-button(href='single-product.html') add to cart
                    .wish-compare
                      a.btn-add-to-wishlist(href='#') add to wishlist
                      a.btn-add-to-compare(href='#') compare
            .loadmore-holder.text-center
              a.btn-loadmore(href='#')
                i.fa.fa-plus
                |                             load more products
          #top-sales.tab-pane
            .product-grid-holder
              .col-sm-4.col-md-3.no-margin.product-item-holder.hover
                .product-item
                  .ribbon.red
                    span sale
                  .ribbon.green
                    span bestseller
                  .image
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-04.jpg')
                  .body
                    .label-discount.clear
                    .title
                      a(href='single-product.html')
                        | Netbook Acer TravelMate
                        | B113-E-10072
                    .brand acer
                  .prices
                    .price-prev $1399.00
                    .price-current.pull-right $1199.00
                  .hover-area
                    .add-cart-button
                      a.le-button(href='single-product.html') add to cart
                    .wish-compare
                      a.btn-add-to-wishlist(href='#') add to wishlist
                      a.btn-add-to-compare(href='#') compare
              .col-sm-4.col-md-3.no-margin.product-item-holder.hover
                .product-item
                  .image
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-03.jpg')
                  .body
                    .label-discount.clear
                    .title
                      a(href='single-product.html') POV Action Cam
                    .brand sony
                  .prices
                    .price-prev $1399.00
                    .price-current.pull-right $1199.00
                  .hover-area
                    .add-cart-button
                      a.le-button(href='single-product.html') add to cart
                    .wish-compare
                      a.btn-add-to-wishlist(href='#') add to wishlist
                      a.btn-add-to-compare(href='#') compare
              .col-sm-4.col-md-3.no-margin.product-item-holder.hover
                .product-item
                  .ribbon.blue
                    span new!
                  .image
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-02.jpg')
                  .body
                    .label-discount.clear
                    .title
                      a(href='single-product.html') White lumia 9001
                    .brand nokia
                  .prices
                    .price-prev $1399.00
                    .price-current.pull-right $1199.00
                  .hover-area
                    .add-cart-button
                      a.le-button(href='single-product.html') add to cart
                    .wish-compare
                      a.btn-add-to-wishlist(href='#') add to wishlist
                      a.btn-add-to-compare(href='#') compare
              .col-sm-4.col-md-3.no-margin.product-item-holder.hover
                .product-item
                  .ribbon.red
                    span sale
                  .image
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-01.jpg')
                  .body
                    .label-discount.green -50% sale
                    .title
                      a(href='single-product.html') VAIO Fit Laptop - Windows 8 SVF14322CXW
                    .brand sony
                  .prices
                    .price-prev $1399.00
                    .price-current.pull-right $1199.00
                  .hover-area
                    .add-cart-button
                      a.le-button(href='single-product.html') add to cart
                    .wish-compare
                      a.btn-add-to-wishlist(href='#') add to wishlist
                      a.btn-add-to-compare(href='#') compare
            .loadmore-holder.text-center
              a.btn-loadmore(href='#')
                i.fa.fa-plus
                |                             load more products
  // ========================================= BEST SELLERS =========================================
  section#bestsellers.color-bg.wow.fadeInUp
    .container
      h1.section-title Best Sellers
      .product-grid-holder.medium
        .col-xs-12.col-md-7.no-margin
          .row.no-margin
            .col-xs-12.col-sm-4.no-margin.product-item-holder.size-medium.hover
              .product-item
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-05.jpg')
                .body
                  .label-discount.clear
                  .title
                    a(href='single-product.html') beats studio headphones official one
                  .brand beats
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product.html') Add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') Add to Wishlist
                    a.btn-add-to-compare(href='#') Compare
            // /.product-item-holder
            .col-xs-12.col-sm-4.no-margin.product-item-holder.size-medium.hover
              .product-item
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-06.jpg')
                .body
                  .label-discount.clear
                  .title
                    a(href='single-product.html') playstasion 4 with four games and pad
                  .brand acer
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product.html') Add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') Add to Wishlist
                    a.btn-add-to-compare(href='#') Compare
            // /.product-item-holder
            .col-xs-12.col-sm-4.no-margin.product-item-holder.size-medium.hover
              .product-item
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-07.jpg')
                .body
                  .label-discount.clear
                  .title
                    a(href='single-product.html') EOS rebel t5i DSLR Camera with 18-55mm IS STM lens
                  .brand canon
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product.html') Add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') Add to Wishlist
                    a.btn-add-to-compare(href='#') Compare
            // /.product-item-holder
          // /.row
          .row.no-margin
            .col-xs-12.col-sm-4.no-margin.product-item-holder.size-medium.hover
              .product-item
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-08.jpg')
                .body
                  .label-discount.clear
                  .title
                    a(href='single-product.html') fitbit zip wireless activity tracker - lime
                  .brand fitbit zip
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product.html') Add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') Add to Wishlist
                    a.btn-add-to-compare(href='#') Compare
            // /.product-item-holder
            .col-xs-12.col-sm-4.no-margin.product-item-holder.size-medium.hover
              .product-item
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-09.jpg')
                .body
                  .label-discount.clear
                  .title
                    a(href='single-product.html') PowerShot elph 115 16MP digital camera
                  .brand canon
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product.html') Add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') Add to Wishlist
                    a.btn-add-to-compare(href='#') Compare
            // /.product-item-holder
            .col-xs-12.col-sm-4.no-margin.product-item-holder.size-medium.hover
              .product-item
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-10.jpg')
                .body
                  .label-discount.clear
                  .title
                    a(href='single-product.html') netbook acer travelMate b113-E-10072
                  .brand acer
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product.html') Add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') Add to Wishlist
                    a.btn-add-to-compare(href='#') Compare
            // /.product-item-holder
          // /.row
        // /.col
        .col-xs-12.col-md-5.no-margin
          .product-item-holder.size-big.single-product-gallery.small-gallery
            #best-seller-single-product-slider.single-product-slider.owl-carousel
              #slide1.single-product-gallery-item
                a(data-rel='prettyphoto', href='images/products/product-gallery-01.jpg')
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-gallery-01.jpg')
              // /.single-product-gallery-item
              #slide2.single-product-gallery-item
                a(data-rel='prettyphoto', href='images/products/product-gallery-01.jpg')
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-gallery-01.jpg')
              // /.single-product-gallery-item
              #slide3.single-product-gallery-item
                a(data-rel='prettyphoto', href='images/products/product-gallery-01.jpg')
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-gallery-01.jpg')
              // /.single-product-gallery-item
            // /.single-product-slider
            .gallery-thumbs.clearfix
              ul
                li
                  a.horizontal-thumb.active(data-target='#best-seller-single-product-slider', data-slide='0', href='#slide1')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/gallery-thumb-01.jpg')
                li
                  a.horizontal-thumb(data-target='#best-seller-single-product-slider', data-slide='1', href='#slide2')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/gallery-thumb-01.jpg')
                li
                  a.horizontal-thumb(data-target='#best-seller-single-product-slider', data-slide='2', href='#slide3')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/gallery-thumb-01.jpg')
            // /.gallery-thumbs
            .body
              .label-discount.clear
              .title
                a(href='single-product.html') CPU intel core i5-4670k 3.4GHz BOX B82-12-122-41
              .brand sony
            .prices.text-right
              .price-current.inline $1199.00
              a.le-button.big.inline(href='cart.html') add to cart
          // /.product-item-holder
        // /.col
      // /.product-grid-holder
    // /.container
  // /#bestsellers
  // ========================================= BEST SELLERS : END =========================================
  // ========================================= RECENTLY VIEWED =========================================
  section#recently-reviewd.wow.fadeInUp
    .container
      .carousel-holder.hover
        .title-nav
          h2.h1 Recently Viewed
          .nav-holder
            a.slider-prev.btn-prev.fa.fa-angle-left(href='#prev', data-target='#owl-recently-viewed')
            a.slider-next.btn-next.fa.fa-angle-right(href='#next', data-target='#owl-recently-viewed')
        // /.title-nav
        #owl-recently-viewed.owl-carousel.product-grid-holder
          .no-margin.carousel-item.product-item-holder.size-small.hover
            .product-item
              .ribbon.red
                span sale
              .image
                img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-11.jpg')
              .body
                .title
                  a(href='single-product.html') LC-70UD1U 70" class aquos 4K ultra HD
                .brand Sharp
              .prices
                .price-current.text-right $1199.00
              .hover-area
                .add-cart-button
                  a.le-button(href='single-product.html') Add to Cart
                .wish-compare
                  a.btn-add-to-wishlist(href='#') Add to Wishlist
                  a.btn-add-to-compare(href='#') Compare
            // /.product-item
          // /.product-item-holder
          .no-margin.carousel-item.product-item-holder.size-small.hover
            .product-item
              .ribbon.blue
                span new!
              .image
                img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-12.jpg')
              .body
                .title
                  a(href='single-product.html') cinemizer OLED 3D virtual reality TV Video
                .brand zeiss
              .prices
                .price-current.text-right $1199.00
              .hover-area
                .add-cart-button
                  a.le-button(href='single-product.html') Add to cart
                .wish-compare
                  a.btn-add-to-wishlist(href='#') Add to Wishlist
                  a.btn-add-to-compare(href='#') Compare
            // /.product-item
          // /.product-item-holder
          .no-margin.carousel-item.product-item-holder.size-small.hover
            .product-item
              .image
                img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-13.jpg')
              .body
                .title
                  a(href='single-product.html') s2340T23" full HD multi-Touch Monitor
                .brand dell
              .prices
                .price-current.text-right $1199.00
              .hover-area
                .add-cart-button
                  a.le-button(href='single-product.html') Add to cart
                .wish-compare
                  a.btn-add-to-wishlist(href='#') Add to Wishlist
                  a.btn-add-to-compare(href='#') Compare
            // /.product-item
          // /.product-item-holder
          .no-margin.carousel-item.product-item-holder.size-small.hover
            .product-item
              .ribbon.blue
                span new!
              .image
                img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-14.jpg')
              .body
                .title
                  a(href='single-product.html') kardon BDS 7772/120 integrated 3D
                .brand harman
              .prices
                .price-current.text-right $1199.00
              .hover-area
                .add-cart-button
                  a.le-button(href='single-product.html') Add to cart
                .wish-compare
                  a.btn-add-to-wishlist(href='#') Add to Wishlist
                  a.btn-add-to-compare(href='#') Compare
            // /.product-item
          // /.product-item-holder
          .no-margin.carousel-item.product-item-holder.size-small.hover
            .product-item
              .ribbon.green
                span bestseller
              .image
                img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-15.jpg')
              .body
                .title
                  a(href='single-product.html') netbook acer travel B113-E-10072
                .brand acer
              .prices
                .price-current.text-right $1199.00
              .hover-area
                .add-cart-button
                  a.le-button(href='single-product.html') Add to cart
                .wish-compare
                  a.btn-add-to-wishlist(href='#') Add to Wishlist
                  a.btn-add-to-compare(href='#') Compare
            // /.product-item
          // /.product-item-holder
          .no-margin.carousel-item.product-item-holder.size-small.hover
            .product-item
              .image
                img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-16.jpg')
              .body
                .title
                  a(href='single-product.html') iPod touch 5th generation,64GB, blue
                .brand apple
              .prices
                .price-current.text-right $1199.00
              .hover-area
                .add-cart-button
                  a.le-button(href='single-product.html') Add to cart
                .wish-compare
                  a.btn-add-to-wishlist(href='#') Add to Wishlist
                  a.btn-add-to-compare(href='#') Compare
            // /.product-item
          // /.product-item-holder
          .no-margin.carousel-item.product-item-holder.size-small.hover
            .product-item
              .image
                img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-13.jpg')
              .body
                .title
                  a(href='single-product.html') s2340T23" full HD multi-Touch Monitor
                .brand dell
              .prices
                .price-current.text-right $1199.00
              .hover-area
                .add-cart-button
                  a.le-button(href='single-product.html') Add to cart
                .wish-compare
                  a.btn-add-to-wishlist(href='#') Add to Wishlist
                  a.btn-add-to-compare(href='#') Compare
            // /.product-item
          // /.product-item-holder
          .no-margin.carousel-item.product-item-holder.size-small.hover
            .product-item
              .ribbon.blue
                span new!
              .image
                img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-14.jpg')
              .body
                .title
                  a(href='single-product.html') kardon BDS 7772/120 integrated 3D
                .brand harman
              .prices
                .price-current.text-right $1199.00
              .hover-area
                .add-cart-button
                  a.le-button(href='single-product.html') Add to cart
                .wish-compare
                  a.btn-add-to-wishlist(href='#') Add to Wishlist
                  a.btn-add-to-compare(href='#') Compare
            // /.product-item
          // /.product-item-holder
        // /#recently-carousel
      // /.carousel-holder
    // /.container
  // /#recently-reviewd
  // ========================================= RECENTLY VIEWED : END =========================================
  // ========================================= TOP BRANDS =========================================
  section#top-brands.wow.fadeInUp
    .container
      .carousel-holder
        .title-nav
          h1 Top Brands
          .nav-holder
            a.slider-prev.btn-prev.fa.fa-angle-left(href='#prev', data-target='#owl-brands')
            a.slider-next.btn-next.fa.fa-angle-right(href='#next', data-target='#owl-brands')
        // /.title-nav
        #owl-brands.owl-carousel.brands-carousel
          .carousel-item
            a(href='#')
              img(alt='', src='/userStyle/images/brands/brand-01.jpg')
          // /.carousel-item
          .carousel-item
            a(href='#')
              img(alt='', src='/userStyle/images/brands/brand-02.jpg')
          // /.carousel-item
          .carousel-item
            a(href='#')
              img(alt='', src='/userStyle/images/brands/brand-03.jpg')
          // /.carousel-item
          .carousel-item
            a(href='#')
              img(alt='', src='/userStyle/images/brands/brand-04.jpg')
          // /.carousel-item
          .carousel-item
            a(href='#')
              img(alt='', src='/userStyle/images/brands/brand-01.jpg')
          // /.carousel-item
          .carousel-item
            a(href='#')
              img(alt='', src='/userStyle/images/brands/brand-02.jpg')
          // /.carousel-item
          .carousel-item
            a(href='#')
              img(alt='', src='/userStyle/images/brands/brand-03.jpg')
          // /.carousel-item
          .carousel-item
            a(href='#')
              img(alt='', src='/userStyle/images/brands/brand-04.jpg')
          // /.carousel-item
        // /.brands-caresoul
      // /.carousel-holder
    // /.container
  // /#top-brands
  // ========================================= TOP BRANDS : END =========================================
  // /.wrapper
  // For demo purposes – can be removed on production
  //- .config.open
  //-   .config-options
  //-     h4 Pages
  //-     ul.list-unstyled.animate-dropdown
  //-       li.dropdown
  //-         button.dropdown-toggle.btn.le-button.btn-block(data-toggle='dropdown') View Pages
  //-         ul.dropdown-menu
  //-           li
  //-             a(href='index.html') Home
  //-           li
  //-             a(href='index-2.html') Home Alt
  //-           li
  //-             a(href='category-grid.html') Category - Grid/List
  //-           li
  //-             a(href='category-grid-2.html') Category 2 - Grid/List
  //-           li
  //-             a(href='single-product.html') Single Product
  //-           li
  //-             a(href='single-product-sidebar.html') Single Product with Sidebar
  //-           li
  //-             a(href='cart.html') Shopping Cart
  //-           li
  //-             a(href='checkout.html') Checkout
  //-           li
  //-             a(href='about.html') About Us
  //-           li
  //-             a(href='contact.html') Contact Us
  //-           li
  //-             a(href='blog.html') Blog
  //-           li
  //-             a(href='blog-fullwidth.html') Blog Full Width
  //-           li
  //-             a(href='blog-post.html') Blog Post
  //-           li
  //-             a(href='faq.html') FAQ
  //-           li
  //-             a(href='terms.html') Terms & Conditions
  //-           li
  //-             a(href='authentication.html') Login/Register
  //-     h4 Header Styles
  //-     ul.list-unstyled
  //-       li
  //-         a(href='index.html1') Header 1
  //-       li
  //-         a(href='index.html') Header 2
  //-     h4 Colors
  //-     ul.list-unstyled
  //-       li
  //-         a.changecolor.green-text(href='#', title='Green color') Green
  //-       li
  //-         a.changecolor.blue-text(href='#', title='Blue color') Blue
  //-       li
  //-         a.changecolor.red-text(href='#', title='Red color') Red
  //-       li
  //-         a.changecolor.orange-text(href='#', title='Orange color') Orange
  //-       li
  //-         a.changecolor.navy-text(href='#', title='Navy color') Navy
  //-       li
  //-         a.changecolor.dark-green-text(href='#', title='Darkgreen color') Dark Green
  //-   a.show-theme-options(href='#')
  //-     i.fa.fa-wrench
  // For demo purposes – can be removed on production : End
  // JavaScripts placed at the end of the document so the pages load faster
  script(src='/userStyle/js/jquery-1.10.2.min.js')
  script(src='/userStyle/js/jquery-migrate-1.2.1.js')
  script(src='/userStyle/js/bootstrap.min.js')
  script(src='http://maps.google.com/maps/api/js?sensor=false&language=en')
  script(src='/userStyle/js/gmap3.min.js')
  script(src='/userStyle/js/bootstrap-hover-dropdown.min.js')
  script(src='/userStyle/js/owl.carousel.min.js')
  script(src='/userStyle/js/css_browser_selector.min.js')
  script(src='/userStyle/js/echo.min.js')
  script(src='/userStyle/js/jquery.easing-1.3.min.js')
  script(src='/userStyle/js/bootstrap-slider.min.js')
  script(src='/userStyle/js/jquery.raty.min.js')
  script(src='/userStyle/js/jquery.prettyPhoto.min.js')
  script(src='/userStyle/js/jquery.customSelect.min.js')
  script(src='/userStyle/js/wow.min.js')
  script(src='/userStyle/js/scripts.js')
  // For demo purposes – can be removed on production
  script(src='switchstylesheet/switchstylesheet.js')
  script.
    $(document).ready(function(){
      $(".changecolor").switchstylesheet( { seperator:"color"} );
        $('.show-theme-options').click(function(){
          $(this).parent().toggleClass('open');
          return false;
        });
      });
      $(window).bind("load", function() {
        $('.show-theme-options').delay(2000).trigger('click');
      });
  // For demo purposes – can be removed on production : End
  script(src='http://w.sharethis.com/button/buttons.js')
