/*////////////////////*/
.pager .previous > button, .pager .previous > span {
    float: left;
}
.pager .next > button, .pager .next > span {
    float: right;
}
.pager li > button, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 15px;
}
button {
    color: #337AB7;
    text-decoration: none;
}
button {
    background-color: transparent;
}
button {
    transition: all 300ms ease 0s;
}
/*//////////////////////////////*/
#cartin{
  color: #696763;
  font-size: 16px;
}

/*account*/
.btn-warning {
    color: black;
    background-color: #fff;
    border-color: #fff;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    color: #EC971F;
    background-color: #fff;
    border-color: #fff;
}
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
.stepwizard-step p {
    margin-top: 10px;    
}

.process-row {
    display: table-row;
}

.process {
    display: table;     
    width: 100%;
    position: relative;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 50px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.process-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.process-step p {
    margin-top:10px;
    
}

.btn-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
/*account*/
#img-responsive{
    display: block;
    max-width: 100%;
   
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: red ;
    background-color: #F49B23;
}
.navbar .nav > li > a {
    padding: 10px;
    color: #333;
    text-shadow: none;
    font-size: 16px;
}

#D {
    
    background-color: #ffffff;

}

#progress-bar{
    float: left;
    width: 0px;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    background-color: #F49B23;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
    transition: width 0.6s ease 0s;
}

.error
{
color: red;
font-size:80%;
font-family:verdana;

}
.spanerror{

color: red;
font-size:90%;
font-weight: bold;
}
#h5Login
{
color: #E47911;
font-size:180%;

}
#h5-warning
{

  color :#E47911;
}
#forgpass
{



}
#Reservationh4
{
 color: #696763;
font-weight: bold;

}
#Reservationh3
{
color:#F49B23;
font-weight: bold;

}
#cart{
  color: #696763;
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.textboxEditProfile {
    padding: 1px 20px;
    border: 0;
    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #BBB, 5px 5px 40px 2px #ffffff inset;
    -moz-box-shadow: 1px 1px 0 0 #BBB, 5px 5px 40px 2px #ffffff inset;
    -webkit-box-shadow: 1px 1px 0 0 #BBB, 5px 5px 40px 2px #fff inset;
    -webkit-background-clip: padding-box;
    outline: 0;
}


#ff{
width: 84%;
}
.btnEditProfile {
  
  -webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
  background-color:#5B74A8;
  border:1px solid #29447E;
  font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
  font-size:12px;
  font-weight:700;
  padding:2px 6px;
  height:28px;
  color:#fff;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5p
}
/*//////*/
.idCancel:hover {
  color:#337AB7;
  text-decoration: none;
}
.idCancel{
  -webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
  background-color:#fff;
  border:1px solid #ccc;
  font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
  font-size:12px;
  font-weight:700;
  padding:2px 6px;
  height:28px;
  color: #E47911;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5p
}
#Loginbt:hover {
  color:#337AB7;
  text-decoration: none;
}
#Loginbt{
  -webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
  background-color:#fff;
  border:1px solid #ccc;
  font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
  font-size:12px;
  font-weight:700;
  padding:2px 6px;
  height:28px;
  color: #E47911;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5p
}
/*//////*/
.idbutton
{
color: #E47911;

}


#intro { color: red }
.foo { color: blue }

#layoutNavbar{
  background-image: url('/img/1.jpg');
}
/*//////////////////////////////*/

/*----------------------------
  Carousel
  ----------------------------*/

/*#carousel13 {
  margin-top: 70;
}

.carousel-caption {
  font-size: 23px;
}

.carousel-caption h4 {
  font-size: 32;
}*/

#carousel13 .item{ height:300px; }

#slide1{
  background: url('/img/111.jpg') top center no-repeat;
}
#slide2{
  background: url('/img/116.jpg') top center no-repeat;
}
#slide3{
  background: url('/img/113.jpg') top center no-repeat;
}
#slide4{
  background: url('/img/112.jpg') top center no-repeat;
}
#slide5{
  background: url('/img/116.jpg') top center no-repeat;
}
/* Porttait & landscape phone */
/*@media (max-width: 480px) {
  #carousel13 .item{ height:300px; }
  .carousel-caption {
    font-size: 23px;
  }

  .carousel-caption h4 {
    font-size: 32;
  }
}
*/
/*  landscape phone to Porttait tablet */
/*@media (max-width: 768px) {
  #carousel13 .item{ height:400px; }
}
*/
/* Large desktop */
/*@media (min-width: 1200px) {
  #carousel13 .item{ height:500px; }
}
*/
/*@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
*/
/*//////////////////////////////*/

.basketImg { 
  width: 130px;
  height: 50px;
  background: url('/img/2.svg') no-repeat center center;
  background-size: 200px;  
}

.navbar-brand { 
  width: 130px;
  height: 70px;
  background: url('/img/naga.png') no-repeat center center;
  background-size: 200px;
  /*position: left;*/
  /*position: absolute;*/
  /*margin-left: 300px;*/
  /*margin-right: auto;*/
  /*text-align: left;*/

}

.nav-tabs {
  display: inline-block;
  border-bottom: none;
  padding-top: 15px;
  font-weight: bold;
}
.nav-tabs > li > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
}

.nav-list { 
  border-bottom: 1px solid #eee; 
}
.nav-list > li { 
  padding: 20px 15px 15px;
  border-left: 1px solid #eee; 
}
.nav-list > li:last-child { border-right: 1px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  padding: 20px 15px 15px;
  text-align: center;
  width: 100%;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}



.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

#tooltip_container {
  color: #fff;
  padding: 20px;
  position: absolute;
  max-width: 200px;
  background-color: rgba(0,0,0,.85);
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  border-radius: 12px;
  display: none;
}

.tooltip-source-html{
  display: none;
}

html{
  *overflow:auto;
}

.sso header{
  height:65px;
  border-top:4px solid #a7020a;
}

.sso .main:after,#wrapper.sso .main:before{
  top: 70px;
}
.sso header .logo{
  width:105px;
  height:40px;
  background: url(../images/tm_logo.png) left center no-repeat;
  margin:16px 0 0 10px;
}
.sso header h1{
  font-size: 28px;
  margin:16px 0 0 10px;
  padding:7px 0 7px 10px;
}
.sso header .lang_menu{
  margin:24px 10px 0 0;
  *margin-top:20px;
}
.sso header .helper{
  font-size: 12px;
  float: right;
  margin: 24px 10px 0 0;
}
.sso header .lang_menu select{
  color:#999999;
  max-width:150px;
  height:inherit;
}
.sso .main {min-height:500px;}

.sso_utility{
  /*width:990px;*/
  background-color:#fff;
}
.sso_utility h2{
  width:630px;
  margin:0 auto;
  font-family: "InterstateLight", Arial, sans-serif;
  font-size:30.67px;
  color:#555555;
  letter-spacing:-2px;
  font-weight:normal;
}
html[lang=JA-JP] .sso_utility h2{
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", Osaka, "メイリオ", "MS PGothic", sans-serif;
}
html[lang=VI-VN] .sso_utility h2{
  font-family: Arial, Helvetica, sans-serif;
}
.sso_utility .desc{
  width:630px;
  margin:0 auto;
}
.form_container {
  width:530px;
  margin:0 auto;
}
.form_container object{
  display:block;
}

#checkEmail .modal-body{
  color:#000 !important;
}

#checkEmail h4{
  font-weight:normal;
}

.center{
  text-align:center;
}

.modal.done .modal-body {
  background: url(../images/icon_ok_big.png) no-repeat center bottom;
  min-height:200px;
}

.main .welcome{
  float:left;
  width:570px;
  margin-top:20px;
  margin-left:48px;
}

.main .welcome h2{
  font-weight:normal;
  font-size: 25px;
  line-height: 32px;
  width: 500px;
  text-shadow:2px 2px 1px rgba(204,204,204,0.4);
}
.main .welcome .feature_list{
  margin:30px 0 20px 0;
}
.main .welcome .feature_list li{
  min-height:70px;
  padding-left:40px;
  padding-top:5px;
  margin-bottom:0px;
  background-repeat:no-repeat;
  background-position:left top;
}
.main .welcome .feature_list li.device{
  background-image: url(../images/icon_feature_device.png);
}
.main .welcome .feature_list li.data{
  background-image: url(../images/icon_feature_data.png);
}
.main .welcome .feature_list li.privacy{
  background-image: url(../images/icon_feature_privacy.png);
}
.main .welcome .feature_list li.family{
  background-image: url(../images/icon_feature_family.png);
}

.main .welcome .feature_list h3{
  font-weight:bold;
  font-size:15px;
}
.main .welcome .feature_list p{
  font-size:12px;
  color:#555555;
  line-height:16px;
  margin-top:5px;
}

.main .signin{
  color:#333;
  float:right;
  width:290px;
  margin-top:86px;
  margin-right:20px;
  background-color:#f3f3f3;
  border: 5px solid #F3F3F3;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      border-radius: 3px;
}

.main .signin h2{
  font-size:15px;
  font-weight:normal;
  background-color:#F3F3F3;
  height:35px;
  line-height:30px;
  padding-left:10px;
}
.main .signin p{
  margin:0px 0px 10px 0px;
}
.main .group, .field_list{
  margin:15px 0px 8px 0;
  min-height:30px;
  display:inline-block;
  width:100%;
  line-height:125%;
  color:#666666;
  font-size:12px;
}
#email_duplicated fieldset{ margin-bottom:10px; }
#email_duplicated label + .field_list{
  margin-left:22px;
}

.main .hint{ margin-left:20px; color:#666666; }

.main label{
  font-size:12px;
  font-weight:normal;
  color:#666666;
  display:inline-block;
  margin-top:3px;
  margin-bottom:5px;
}
.main .radiobtn{
  margin:-5px 5px 0 0;
  margin-top: -2px\9;
}
.radiobtn#not_activated{
  visibility:hidden;
}

label.for_radio{
  font-weight:bold;
  color:#000000;
  font-size:15px;
  margin:0;
  cursor:pointer;
}
label.link{
  color:#06c;
  margin-top:20px;
  text-decoration:underline;

}
label.link img{ margin:0 10px 0 3px;
  transition-duration: .3s;
  -webkit-transition-duration:.3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  -moz-transition-duration: .3s;
}
label.link.down img{
  transform: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
  -moz-transform: rotate(90deg); /* Firefox */
}

.remind{
  color:#666;
  padding:3px 0 3px 0;
  display:block;
}
.main input[type="checkbox"] {
  vertical-align: top;
  vertical-align: middle;
  padding: 0px;
  margin:2px 0 5px 0;
}
.main input[type="email"],
.main input[type="text"],
.main input[type="password"] {
  height: 28px;
  line-height:100%;
  *line-height:28px;
  line-height:28px\9;
  width: 98%;
}
/*
.main input[type="email"],
.main input[type="text"],
.main input[type="password"] {
  border: solid 1px #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 28px;
  line-height:100%;
  *line-height:28px;
  line-height:28px\9;
  width: 98%;
}
.main .signin input[type="email"]:hover,
.main .signin input[type="text"]:hover,
.main .signin input[type="password"]:hover {
  border:1px solid #999;
}
.main .signin input[type="email"]:focus,
.main .signin input[type="text"]:focus,
.main .signin input[type="password"]:focus{
  border:1px solid #3399cc;
  box-shadow:0 0 5px #3399CC;
}
.main .signin input[disabled="disabled"]{
  border:1px solid #999999;
  background-color:#ededed;
}
*/
.main #forgot_pwd,
.main #forgot_email,
.main #email_duplicated{
  margin:25px auto 0 auto;
  width: 580px;
  background-color: #ffffff;
  border: 5px solid #F3F3F3;
  border-top-width:20px;
  padding:20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 1000px) {
  .main #email_duplicated {
    width: auto;
  }
}

.main #forgot_pwd h2{
  font-size:16px;
}
.main #forgot_pwd h4{
  font-size:14px;
  margin-bottom:20px;
  font-weight:normal;
}
.main #forgot_pwd img{
  vertical-align:middle;
}


.main #forgot_email #form_forgotemail input[type="text"],
.main input.serial_code{
  width:4em;
  margin:0px;
  font-size:1.2em;
  padding:0 4px 0 4px;
  text-align:center;
}
#customer_number_group .field_list {font-size:16px; font-style:normal;}
#customer_number_group .field_list input[type=text]{
  font-size:16px;
  letter-spacing:1px;
}
#email_duplicated #customer_number1{ width:2em; margin-right:0px; }
#email_duplicated #customer_number2{ width:8em; }

#yourEmail {
  margin:20px auto;
  word-wrap:break-word;
  word-break:break-all;
  width:75%;
}

.main .desc{
  font-size:13px;
  margin-top:15px;
  display:block;
}
.main .block{
  margin:20px 0 20px 0;
}
.main #captcha{ width:50%; margin-right:0px;text-transform: uppercase; }
.main #refresh_btn{ cursor:pointer; }
.main #refresh_btn.loading{
  cursor:default;
  opacity:0.3;
  filter: alpha(opacity = 30);
}
.main #captcha_content{
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
}
.main #captcha_content.loading{
  filter: alpha(opacity = 40);
  background: url(../images/fb_loading.gif) center center no-repeat;
}

.VBC {
  color:#000000;
}

.main .sline{
  border-bottom:1px solid #ededed;
  height:3px;
  line-height: 50%;
  text-align: center;
  margin: 10px 0;
}
.main .sline span{ background-color:#ffffff; padding:0 10px; }
.main .inline-desc{ display:block; padding:5px 0; }


#getSN{
  display:none;
  margin-left:20px;
}
label.label_getsn {
  display:none;
  margin:12px 0 0 20px;
  line-height:150%;
}
.sso_utility .msg.err { margin-left:20px; }