extends layout

block Dashboard
  #page-wrapper
    .container-fluid
      //- Page Heading
      .row
        .col-lg-12
          h1 Dashboard 
            small Statistics Overview
          ol.breadcrumb
            li.active
              i.fa.fa-dashboard
              |  Dashboard
        //- Write code after comment