extends layout
block content
  html
  body
    #header
      .container
        #welcomeLine.row
          .span6
            | Welcome!
            strong  User
          .span6
            .pull-right
              a(href='product_summary.html')
                span Fr
              a(href='product_summary.html')
                span Es
              span.btn.btn-mini En
              a(href='product_summary.html')
                span £
              span.btn.btn-mini $155.00
              a(href='product_summary.html')
                span $
              a(href='product_summary.html')
                span.btn.btn-mini.btn-primary
                  i.icon-shopping-cart.icon-white
                  |  [ 3 ] Itemes in your cart
        // Navbar ==================================================
        #logoArea.navbar
          a#smallScreen.btn.btn-navbar(data-target='#topMenu', data-toggle='collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-inner
            a.brand(href='/seller/homePage')
             img(src='/themes/images/Logoo.png', alt='Bootsshop', width='300 px ;')
            form.form-inline.navbar-search(method='post', action='/seller/products')
              input#srchFld.srchTxt(type='text')
              select.srchTxt
                option All
                option CLOTHES 
                option FOOD AND BEVERAGES 
                option HEALTH & BEAUTY 
                option SPORTS & LEISURE 
                option BOOKS & ENTERTAINMENTS 
              button#submitButton.btn.btn-primary(type='submit') Go
            ul#topMenu.nav.pull-right
              li
                a(href='/seller/special_offer') Specials Offer
              li
                a(href='normal.html') Delivery
              li
                a(href='contact.html') Contact
              li
                a(href='#login', role='button', data-toggle='modal', style='padding-right:0')
                  span.btn.btn-large.btn-success Login
                #login.modal.hide.fade.in(tabindex='-1', role='dialog', aria-labelledby='login', aria-hidden='false')
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h3 Login Block
                  .modal-body
                    form.form-horizontal.loginFrm
                      .control-group
                        input#inputEmail(type='text', placeholder='Email')
                      .control-group
                        input#inputPassword(type='password', placeholder='Password')
                      .control-group
                        label.checkbox
                          input(type='checkbox')
                          |  Remember me
                    button.btn.btn-success(type='submit') Sign in
                    button.btn(data-dismiss='modal', aria-hidden='true') Close
    // Header End======================================================================
    

    #mainBody
      .container
        .row
          // Sidebar ==================================================
          div.row
            div.col-lg-6.col-lg-offset-3(id="alertBlock")
            div.col-lg-6.col-lg-offset-3(id='registerForm')
              div.panel.panel-default
                div.panel-heading 
                div.panel-body              
                  form(id="fileupload", action="/upload", method="POST", enctype="multipart/form-data")    
                    table.table
                      tr
                        td(colspan='3')
                          div.row.fileupload-buttonbar
                            div
                              span.btn.btn-success.btn-sm.fileinput-button 
                                i.glyphicon.glyphicon-plus
                                span Add files...
                                input(type="file", name="files[]", multiple)
                              button.btn.btn-primary.btn-sm.start(type='submit') 
                                i.glyphicon.glyphicon-upload
                                span Start upload
                              button.btn.btn-warning.btn-sm.cancel 
                                i.glyphicon.glyphicon-ban-circle
                                span Cancel upload
                              button.btn.btn-danger.btn-sm.delete 
                                i.glyphicon.glyphicon-trash
                                span Delete
                              input.toggle(type='checkbox')
                              span.fileupload-process
                            div.fileupload-progress.fade
                              div.progress.progress-striped.active(role="progressbar", aria-valuemin="0", aria-valuemax="100")
                              div.progress-extended &nbsp;
                          table.table.table-striped(role='presentation')
                            tbody.files 
            
          script(id="template-upload", type="text/x-tmpl")
            {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-upload fade">
            <td>
            <span class="preview"></span>
            </td>
            <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
            </td>
            <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled>
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel</span>
            </button>
            {% } %}
            </td>
            </tr>
            {% } %}
          script(id="template-download", type="text/x-tmpl")
            {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-download fade">
            <td>
            <span class="preview">
            {% if (file.thumbnailUrl) { %}
            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
            {% } %}
            </span>
            </td>
            <td>
            <p class="name">
            {% if (file.url) { %}
            <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
            {% } else { %}
            <span>{%=file.name%}</span>
            {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
            </td>
            <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
            {% if (file.deleteUrl) { %}
            <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
            <i class="glyphicon glyphicon-trash"></i>
            <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
            <button class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel</span>
            </button>
            {% } %}
            </td>
            </tr>
            {% } %}



          // Sidebar end===============================================
          .span9
            ul.breadcrumb
              li
                a(href='/seller/homePage') Home
                span.divider /
              li.active Terms and Conditions
            h3  Terms and Conditions
            hr.soft
            h5 Lorem ipsum dolor sit amet
            br
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum varius dapibus. Sed hendrerit porta felis at sollicitudin. Sed at nunc ac neque semper fermentum. Proin diam sem, semper fermentum eleifend nec, viverra ac est. Sed ultricies, lectus et vehicula imperdiet, felis tortor vehicula turpis, non fermentum enim est et sapien. Nam justo mi, dignissim a euismod ut, pretium sed leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In viverra porta est, consequat elementum metus tristique a. Mauris tempus tellus a metus dapibus faucibus egestas lectus consectetur. Integer libero dolor, luctus non congue vitae, tempus ut neque. Nunc eleifend lorem quis diam pharetra sagittis. Aliquam ut dolor dui. Fusce dictum facilisis ipsum eu porttitor. In ultricies rhoncus tortor vitae tincidunt.
            h5 Lorem ipsum dolor sit amet
            br
            p
              | Nullam a vulputate leo. Nulla tristique metus eros. Curabitur ultrices commodo mauris, sit amet faucibus lectus fermentum in. Nulla eleifend, augue hendrerit tempus faucibus, diam lacus aliquet urna, eget facilisis turpis risus quis arcu. Cras placerat suscipit sem, ac consequat dui iaculis eu. Cras elit enim, adipiscing lobortis rutrum ac, vehicula nec massa. Praesent pharetra ligula ac erat venenatis feugiat. Quisque id nulla mi. Mauris at orci nec nisi eleifend auctor. Mauris placerat consectetur tincidunt. Nam eu tellus vitae dolor vestibulum commodo. Etiam tristique, urna ac convallis laoreet, enim enim aliquet neque, id cursus risus nulla sed ligula. Nunc quam libero, accumsan vitae consequat at, sollicitudin eget mi. Phasellus in molestie diam. Aliquam enim purus, tempor id sodales non, volutpat eu diam. Donec eu nisl lacinia leo semper lobortis sed sit amet elit.
            h5 Lorem ipsum dolor sit amet
            br
            p
              | Aliquam interdum, ipsum a posuere dictum, tellus risus blandit dolor, at tristique sapien urna vel purus. Pellentesque in dictum urna. Sed feugiat libero sit amet arcu malesuada eu convallis dui convallis. Donec facilisis massa a ipsum aliquam lobortis. Praesent ac lectus sed leo aliquam egestas. Sed ante neque, volutpat ac tempor et, bibendum at ligula. Nunc porta vestibulum sodales.
            h5 Lorem ipsum dolor sit amet
            br
            p
              | Nullam a vulputate leo. Nulla tristique metus eros. Curabitur ultrices commodo mauris, sit amet faucibus lectus fermentum in. Nulla eleifend, augue hendrerit tempus faucibus, diam lacus aliquet urna, eget facilisis turpis risus quis arcu. Cras placerat suscipit sem, ac consequat dui iaculis eu. Cras elit enim, adipiscing lobortis rutrum ac, vehicula nec massa. Praesent pharetra ligula ac erat venenatis feugiat. Quisque id nulla mi. Mauris at orci nec nisi eleifend auctor. Mauris placerat consectetur tincidunt. Nam eu tellus vitae dolor vestibulum commodo. Etiam tristique, urna ac convallis laoreet, enim enim aliquet neque, id cursus risus nulla sed ligula. Nunc quam libero, accumsan vitae consequat at, sollicitudin eget mi. Phasellus in molestie diam. Aliquam enim purus, tempor id sodales non, volutpat eu diam. Donec eu nisl lacinia leo semper lobortis sed sit amet elit.
            h5 Lorem ipsum dolor sit amet
            br
            p
              | Aliquam interdum, ipsum a posuere dictum, tellus risus blandit dolor, at tristique sapien urna vel purus. Pellentesque in dictum urna. Sed feugiat libero sit amet arcu malesuada eu convallis dui convallis. Donec facilisis massa a ipsum aliquam lobortis. Praesent ac lectus sed leo aliquam egestas. Sed ante neque, volutpat ac tempor et, bibendum at ligula. Nunc porta vestibulum sodales.
            h5 Lorem ipsum dolor sit amet
            br
            p
              | Nullam a vulputate leo. Nulla tristique metus eros. Curabitur ultrices commodo mauris, sit amet faucibus lectus fermentum in. Nulla eleifend, augue hendrerit tempus faucibus, diam lacus aliquet urna, eget facilisis turpis risus quis arcu. Cras placerat suscipit sem, ac consequat dui iaculis eu. Cras elit enim, adipiscing lobortis rutrum ac, vehicula nec massa. Praesent pharetra ligula ac erat venenatis feugiat. Quisque id nulla mi. Mauris at orci nec nisi eleifend auctor. Mauris placerat consectetur tincidunt. Nam eu tellus vitae dolor vestibulum commodo. Etiam tristique, urna ac convallis laoreet, enim enim aliquet neque, id cursus risus nulla sed ligula. Nunc quam libero, accumsan vitae consequat at, sollicitudin eget mi. Phasellus in molestie diam. Aliquam enim purus, tempor id sodales non, volutpat eu diam. Donec eu nisl lacinia leo semper lobortis sed sit amet elit.
            h5 Lorem ipsum dolor sit amet
            br
            p
              | Aliquam interdum, ipsum a posuere dictum, tellus risus blandit dolor, at tristique sapien urna vel purus. Pellentesque in dictum urna. Sed feugiat libero sit amet arcu malesuada eu convallis dui convallis. Donec facilisis massa a ipsum aliquam lobortis. Praesent ac lectus sed leo aliquam egestas. Sed ante neque, volutpat ac tempor et, bibendum at ligula. Nunc porta vestibulum sodales.
    // MainBody End =============================
    // Footer ==================================================================
    #footerSection
      .container
        .row
          .span3
            h5 ACCOUNT
            a(href='login.html') YOUR ACCOUNT
            a(href='login.html') PERSONAL INFORMATION
            a(href='login.html') ADDRESSES
            a(href='login.html') DISCOUNT
            a(href='login.html') ORDER HISTORY
          .span3
            h5 INFORMATION
            a(href='contact.html') CONTACT
            a(href='/seller/register') REGISTRATION
            a(href='legal_notice.html') LEGAL NOTICE
            a(href='tac.html') TERMS AND CONDITIONS
            a(href='faq.html') FAQ
          .span3
            h5 OUR OFFERS
            a(href='#') NEW PRODUCTS
            a(href='#') TOP SELLERS
            a(href='/seller/special_offer') SPECIAL OFFERS
            a(href='#') MANUFACTURERS
            a(href='#') SUPPLIERS
          #socialMedia.span3.pull-right
            h5 SOCIAL MEDIA 
            a(href='#')
              img(width='60', height='60', src='/themes/images/facebook.png', title='facebook', alt='facebook')
            a(href='#')
              img(width='60', height='60', src='/themes/images/twitter.png', title='twitter', alt='twitter')
            a(href='#')
              img(width='60', height='60', src='/themes/images/youtube.png', title='youtube', alt='youtube')
        p.pull-right © Bootshop
      // Container End
    // Placed at the end of the document so the pages load faster =============================================
    script(src='/themes/js/jquery.js', type='text/javascript')
    script(src='/themes/js/bootstrap.min.js', type='text/javascript')
    script(src='/themes/js/google-code-prettify/prettify.js')
    script(src='/themes/js/bootshop.js')
    script(src='/themes/js/jquery.lightbox-0.5.js')
    // /themes switcher section =============================================================================================
    #secectionBox
      link(rel='stylesheet', href='/themes/switch//themeswitch.css', type='text/css', media='screen')
      script(src='/themes/switch/theamswitcher.js', type='text/javascript', charset='utf-8')
      #themeContainer
        #hideme.themeTitle Style Selector
        .themeName Oregional Skin
        .images.style
          a(href='/themes/css/#', name='bootshop')
            img.active(src='/themes/switch/images/clr/bootshop.png', alt='bootstrap business templates')
          a(href='/themes/css/#', name='businessltd')
            img.active(src='/themes/switch/images/clr/businessltd.png', alt='bootstrap business templates')
        .themeName Bootswatch Skins (11)
        .images.style
          a(href='/themes/css/#', name='amelia', title='Amelia')
            img(src='/themes/switch/images/clr/amelia.png', alt='bootstrap business templates')
          a(href='/themes/css/#', name='spruce', title='Spruce')
            img(src='/themes/switch/images/clr/spruce.png', alt='bootstrap business templates')
          a(href='/themes/css/#', name='superhero', title='Superhero')
            img(src='/themes/switch/images/clr/superhero.png', alt='bootstrap business templates')
          a(href='/themes/css/#', name='cyborg')
            img(src='/themes/switch/images/clr/cyborg.png', alt='bootstrap business templates')
          a(href='/themes/css/#', name='cerulean')
            img(src='/themes/switch/images/clr/cerulean.png', alt='bootstrap business templates')
          a(href='/themes/css/#', name='journal')
            img(src='/themes/switch/images/clr/journal.png', alt='bootstrap business templates')
          a(href='/themes/css/#', name='readable')
            img(src='/themes/switch/images/clr/readable.png', alt='bootstrap business templates')
          a(href='/themes/css/#', name='simplex')
            img(src='/themes/switch/images/clr/simplex.png', alt='bootstrap business templates')
          a(href='/themes/css/#', name='slate')
            img(src='/themes/switch/images/clr/slate.png', alt='bootstrap business templates')
          a(href='/themes/css/#', name='spacelab')
            img(src='/themes/switch/images/clr/spacelab.png', alt='bootstrap business templates')
          a(href='/themes/css/#', name='united')
            img(src='/themes/switch/images/clr/united.png', alt='bootstrap business templates')
          p(style='margin:0;line-height:normal;margin-left:-10px;display:none;')
            small These are just examples and you can build your own color scheme in the backend.
        .themeName Background Patterns 
        .images.patterns
          a(href='/themes/css/#', name='pattern1')
            img.active(src='/themes/switch/images/pattern/pattern1.png', alt='bootstrap business templates')
          a(href='/themes/css/#', name='pattern2')
            img(src='//themes/switch/images/pattern/pattern2.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern3')
            img(src='//themes/switch/images/pattern/pattern3.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern4')
            img(src='//themes/switch/images/pattern/pattern4.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern5')
            img(src='//themes/switch/images/pattern/pattern5.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern6')
            img(src='//themes/switch/images/pattern/pattern6.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern7')
            img(src='//themes/switch/images/pattern/pattern7.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern8')
            img(src='//themes/switch/images/pattern/pattern8.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern9')
            img(src='//themes/switch/images/pattern/pattern9.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern10')
            img(src='//themes/switch/images/pattern/pattern10.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern11')
            img(src='//themes/switch/images/pattern/pattern11.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern12')
            img(src='//themes/switch/images/pattern/pattern12.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern13')
            img(src='//themes/switch/images/pattern/pattern13.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern14')
            img(src='//themes/switch/images/pattern/pattern14.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern15')
            img(src='//themes/switch/images/pattern/pattern15.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern16')
            img(src='//themes/switch/images/pattern/pattern16.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern17')
            img(src='//themes/switch/images/pattern/pattern17.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern18')
            img(src='//themes/switch/images/pattern/pattern18.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern19')
            img(src='//themes/switch/images/pattern/pattern19.png', alt='bootstrap business templates')
          a(href='//themes/css/#', name='pattern20')
            img(src='//themes/switch/images/pattern/pattern20.png', alt='bootstrap business templates')
    span#/themesBtn
    script(type='text/javascript', src='/js/jquery-1.11.2.min.js')
    script(type='text/javascript', src='/js/jquery-ui.min.js')
    script(type='text/javascript', src='/js/tmpl.min.js')
    script(type='text/javascript', src='/js/load-image.min.js')
    script(type='text/javascript', src='/js/canvas-to-blob.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/jquery.blueimp-gallery.min.js')
    script(type='text/javascript', src='/js/jquery.iframe-transport.js')
    script(type='text/javascript', src='/js/jquery.fileupload.js')
    script(type='text/javascript', src='/js/jquery.fileupload-process.js')
    script(type='text/javascript', src='/js/jquery.fileupload-image.js')
    script(type='text/javascript', src='/js/jquery.fileupload-validate.js')
    script(type='text/javascript', src='/js/jquery.fileupload-ui.js')
    script(type='text/javascript', src='/js/main.js')