extends layout
block items
  .pull-left
    .recent-orders.text-left
      h1.recent-orders-heading Welcome to your Walmart account!
        .recent-order-sub-heading From here you can:

        .recent-order-navs
          i.glyphicon.glyphicon-truck
          a(href='') Check the status of any order
          
        .recent-order-navs
          i.wmicon.wmicon-card.dashboard-icons
          a(href='') Update your credit card details
          
          
        .recent-order-navs
          i.glyphicon.glyphicon-envelope
          a(href='') Edit your email address

        .recent-order-navs         
          
          i.glyphicon.glyphicon-lock
          a(href='') Change your password  
