extends layout
block navList_And_photoSlide
block content
  .animate-dropdown
    // ========================================= BREADCRUMB =========================================
    #breadcrumb-alt
      .container
        .breadcrumb-nav-holder.minimal
          ul
            li.dropdown.breadcrumb-item
              a.dropdown-toggle(href='#', data-toggle='dropdown') shop by department
              ul.dropdown-menu
                li
                  a(href='#') Computer Cases & Accessories
                li
                  a(href='#') CPUs, Processors
                li
                  a(href='#') Fans, Heatsinks & Cooling
                li
                  a(href='#') Graphics, Video Cards
                li
                  a(href='#') Interface, Add-On Cards
                li
                  a(href='#') Laptop Replacement Parts
                li
                  a(href='#') Memory (RAM)
                li
                  a(href='#') Motherboards
                li
                  a(href='#') Motherboard & CPU Combos
                li
                  a(href='#') Motherboard Components
            li.dropdown.breadcrumb-item
              a.dropdown-toggle(href='#', data-toggle='dropdown') laptops & computers 
              ul.dropdown-menu
                li
                  a(href='#') PDA
                  a(href='#') accesories
                  a(href='#') tablets
                  a(href='#') games
                  a(href='#') consoles
            // /.breadcrumb-item
            li.dropdown.breadcrumb-item
              a.dropdown-toggle(href='#', data-toggle='dropdown') Desktop PC 
              ul.dropdown-menu
                li
                  a(href='#') PDA
                  a(href='#') accesories
                  a(href='#') tablets
                  a(href='#') games
                  a(href='#') consoles
            // /.breadcrumb-item
            li.breadcrumb-item
              a(href='#') Gaming
            // /.breadcrumb-item
            li.breadcrumb-item.current
              a(href='#') VAIO Fit Laptop - Windows
            // /.breadcrumb-item
          // /.breadcrumb-nav-holder
      // /.container
    // ========================================= BREADCRUMB : END =========================================
  section#category-grid
    .container
      // ========================================= SIDEBAR =========================================
      .col-xs-12.col-sm-3.no-margin.sidebar.narrow
        // ========================================= PRODUCT FILTER =========================================
        .widget
          h1 Product Filters
          .body.bordered
            .category-filter
              h2 Brands
              hr
              ul
                li
                  input.le-checkbox(checked='checked', type='checkbox')
                  label Samsung
                  span.pull-right (2)
                li
                  input.le-checkbox(type='checkbox')
                  label Dell
                  span.pull-right (8)
                li
                  input.le-checkbox(type='checkbox')
                  label Toshiba
                  span.pull-right (1)
                li
                  input.le-checkbox(type='checkbox')
                  label Apple
                  span.pull-right (5)
            // /.category-filter
            .price-filter
              h2 Price
              hr
              .price-range-holder
                input.price-slider(type='text', value='')
                span.min-max
                  | Price: $89 - $2899
                span.filter-button
                  a(href='#') Filter
            // /.price-filter
          // /.body
        // /.widget
        // ========================================= PRODUCT FILTER : END =========================================
        .widget
          h1.border special offers
          ul.product-list
            li
              .row
                .col-xs-4.col-sm-4.no-margin
                  a.thumb-holder(href='#')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-small-01.jpg')
                .col-xs-8.col-sm-8.no-margin
                  a(href='#') Netbook Acer 
                  .price
                    .price-prev $2000
                    .price-current $1873
            li
              .row
                .col-xs-4.col-sm-4.no-margin
                  a.thumb-holder(href='#')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-small-02.jpg')
                .col-xs-8.col-sm-8.no-margin
                  a(href='#') PowerShot Elph 115 16MP Digital Camera
                  .price
                    .price-prev $2000
                    .price-current $1873
            li
              .row
                .col-xs-4.col-sm-4.no-margin
                  a.thumb-holder(href='#')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-small-03.jpg')
                .col-xs-8.col-sm-8.no-margin
                  a(href='#') PowerShot Elph 115 16MP Digital Camera
                  .price
                    .price-prev $2000
                    .price-current $1873
            li
              .row
                .col-xs-4.col-sm-4.no-margin
                  a.thumb-holder(href='#')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-small-01.jpg')
                .col-xs-8.col-sm-8.no-margin
                  a(href='#') Netbook Acer
                  .price
                    .price-prev $2000
                    .price-current $1873
            li
              .row
                .col-xs-4.col-sm-4.no-margin
                  a.thumb-holder(href='#')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-small-02.jpg')
                .col-xs-8.col-sm-8.no-margin
                  a(href='#') PowerShot Elph 115 16MP Digital Camera
                  .price
                    .price-prev $2000
                    .price-current $1873
        // /.widget
        .widget
          .simple-banner
            a(href='#')
              img.img-responsive(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/banner/banner-simple.jpg')
        // ========================================= FEATURED PRODUCTS =========================================
        .widget
          h1.border Featured Products
          ul.product-list
            li.sidebar-product-list-item
              .row
                .col-xs-4.col-sm-4.no-margin
                  a.thumb-holder(href='#')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-small-01.jpg')
                .col-xs-8.col-sm-8.no-margin
                  a(href='#') Netbook Acer 
                  .price
                    .price-prev $2000
                    .price-current $1873
            // /.sidebar-product-list-item
            li.sidebar-product-list-item
              .row
                .col-xs-4.col-sm-4.no-margin
                  a.thumb-holder(href='#')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-small-02.jpg')
                .col-xs-8.col-sm-8.no-margin
                  a(href='#') PowerShot Elph 115 16MP Digital Camera
                  .price
                    .price-prev $2000
                    .price-current $1873
            // /.sidebar-product-list-item
            li.sidebar-product-list-item
              .row
                .col-xs-4.col-sm-4.no-margin
                  a.thumb-holder(href='#')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-small-03.jpg')
                .col-xs-8.col-sm-8.no-margin
                  a(href='#') PowerShot Elph 115 16MP Digital Camera
                  .price
                    .price-prev $2000
                    .price-current $1873
            // /.sidebar-product-list-item
            li.sidebar-product-list-item
              .row
                .col-xs-4.col-sm-4.no-margin
                  a.thumb-holder(href='#')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-small-01.jpg')
                .col-xs-8.col-sm-8.no-margin
                  a(href='#') Netbook Acer 
                  .price
                    .price-prev $2000
                    .price-current $1873
            // /.sidebar-product-list-item
            li.sidebar-product-list-item
              .row
                .col-xs-4.col-sm-4.no-margin
                  a.thumb-holder(href='#')
                    img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-small-02.jpg')
                .col-xs-8.col-sm-8.no-margin
                  a(href='#') PowerShot Elph 115 16MP Digital Camera
                  .price
                    .price-prev $2000
                    .price-current $1873
            // /.sidebar-product-list-item
          // /.product-list
        // /.widget
        // ========================================= FEATURED PRODUCTS : END =========================================
      // ========================================= SIDEBAR : END =========================================
      // ========================================= CONTENT =========================================
      .col-xs-12.col-sm-9.no-margin.wide.sidebar
        section#recommended-products.carousel-holder.hover.small
          .title-nav
            h2.inverse Recommended Products
            .nav-holder
              a.slider-prev.btn-prev.fa.fa-angle-left(href='#prev', data-target='#owl-recommended-products')
              a.slider-next.btn-next.fa.fa-angle-right(href='#next', data-target='#owl-recommended-products')
          // /.title-nav
          #owl-recommended-products.owl-carousel.product-grid-holder
            .no-margin.carousel-item.product-item-holder.hover.size-medium
              .product-item
                .ribbon.red
                  span sale
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-11.jpg')
                .body
                  .title
                    a(href='single-product') LC-70UD1U 70" class aquos 4K ultra HD
                  .brand sharp
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product') add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') add to wishlist
                    a.btn-add-to-compare(href='#') compare
            // /.carousel-item
            .no-margin.carousel-item.product-item-holder.hover.size-medium
              .product-item
                .ribbon.blue
                  span new!
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-12.jpg')
                .body
                  .title
                    a(href='single-product') cinemizer OLED 3D virtual reality TV Video
                  .brand zeiss
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product') add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') add to wishlist
                    a.btn-add-to-compare(href='#') compare
            // /.carousel-item
            .no-margin.carousel-item.product-item-holder.hover.size-medium
              .product-item
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-13.jpg')
                .body
                  .title
                    a(href='single-product') s2340T23" full HD multi-Touch Monitor
                  .brand dell
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product') add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') add to wishlist
                    a.btn-add-to-compare(href='#') compare
            // /.carousel-item
            .no-margin.carousel-item.product-item-holder.hover.size-medium
              .product-item
                .ribbon.blue
                  span new!
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-14.jpg')
                .body
                  .title
                    a(href='single-product') kardon BDS 7772/120 integrated 3D
                  .brand harman
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product') add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') add to wishlist
                    a.btn-add-to-compare(href='#') compare
            // /.carousel-item
            .no-margin.carousel-item.product-item-holder.hover.size-medium
              .product-item
                .ribbon.green
                  span bestseller
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-15.jpg')
                .body
                  .title
                    a(href='single-product') netbook acer travel B113-E-10072
                  .brand acer
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product') add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') add to wishlist
                    a.btn-add-to-compare(href='#') compare
            // /.carousel-item
            .no-margin.carousel-item.product-item-holder.hover.size-medium
              .product-item
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-16.jpg')
                .body
                  .title
                    a(href='single-product') iPod touch 5th generation,64GB, blue
                  .brand apple
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product') add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') add to wishlist
                    a.btn-add-to-compare(href='#') compare
            // /.carousel-item
            .no-margin.carousel-item.product-item-holder.hover.size-medium
              .product-item
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-13.jpg')
                .body
                  .title
                    a(href='single-product') s2340T23" full HD multi-Touch Monitor
                  .brand dell
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product') add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') add to wishlist
                    a.btn-add-to-compare(href='#') compare
            // /.carousel-item
            .no-margin.carousel-item.product-item-holder.hover.size-medium
              .product-item
                .ribbon.blue
                  span new!
                .image
                  img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-14.jpg')
                .body
                  .title
                    a(href='single-product') kardon BDS 7772/120 integrated 3D
                  .brand harman
                .prices
                  .price-current.text-right $1199.00
                .hover-area
                  .add-cart-button
                    a.le-button(href='single-product') add to cart
                  .wish-compare
                    a.btn-add-to-wishlist(href='#') add to wishlist
                    a.btn-add-to-compare(href='#') compare
            // /.carousel-item
          // /#recommended-products-carousel .owl-carousel
        // /.carousel-holder
        section#gaming
          .grid-list-products
            h2.section-title Gaming
            .control-bar
              #popularity-sort.le-select
                select(data-placeholder='sort by popularity')
                  option(value='1') 1-100 players
                  option(value='2') 101-200 players
                  option(value='3') 200+ players
              #item-count.le-select
                select
                  option(value='1') 24 per page
                  option(value='2') 48 per page
                  option(value='3') 32 per page
              .grid-list-buttons
                ul
                  li.grid-list-button-item.active
                    a(data-toggle='tab', href='#grid-view')
                      i.fa.fa-th-large
                      |  Grid
                  li.grid-list-button-item
                    a(data-toggle='tab', href='#list-view')
                      i.fa.fa-th-list
                      |  List
            // /.control-bar
            .tab-content
              #grid-view.products-grid.fade.tab-pane.in.active
                .product-grid-holder
                  .row.no-margin
                    .col-xs-12.col-sm-4.no-margin.product-item-holder.hover
                      .product-item
                        .ribbon.red
                          span sale
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-01.jpg')
                        .body
                          .label-discount.green -50% sale
                          .title
                            a(href='single-product') VAIO Fit Laptop - Windows 8 SVF14322CXW
                          .brand sony
                        .prices
                          .price-prev $1399.00
                          .price-current.pull-right $1199.00
                        .hover-area
                          .add-cart-button
                            a.le-button(href='single-product') add to cart
                          .wish-compare
                            a.btn-add-to-wishlist(href='#') add to wishlist
                            a.btn-add-to-compare(href='#') compare
                      // /.product-item
                    // /.product-item-holder
                    .col-xs-12.col-sm-4.no-margin.product-item-holder.hover
                      .product-item
                        .ribbon.blue
                          span new!
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-02.jpg')
                        .body
                          .label-discount.clear
                          .title
                            a(href='single-product') White lumia 9001
                          .brand nokia
                        .prices
                          .price-prev $1399.00
                          .price-current.pull-right $1199.00
                        .hover-area
                          .add-cart-button
                            a.le-button(href='single-product') add to cart
                          .wish-compare
                            a.btn-add-to-wishlist(href='#') add to wishlist
                            a.btn-add-to-compare(href='#') compare
                      // /.product-item
                    // /.product-item-holder
                    .col-xs-12.col-sm-4.no-margin.product-item-holder.hover
                      .product-item
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-03.jpg')
                        .body
                          .label-discount.clear
                          .title
                            a(href='single-product') POV Action Cam
                          .brand sony
                        .prices
                          .price-prev $1399.00
                          .price-current.pull-right $1199.00
                        .hover-area
                          .add-cart-button
                            a.le-button(href='single-product') add to cart
                          .wish-compare
                            a.btn-add-to-wishlist(href='#') add to wishlist
                            a.btn-add-to-compare(href='#') compare
                      // /.product-item
                    // /.product-item-holder
                    .col-xs-12.col-sm-4.no-margin.product-item-holder.hover
                      .product-item
                        .ribbon.red
                          span sale
                        .ribbon.green
                          span bestseller
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-04.jpg')
                        .body
                          .label-discount.clear
                          .title
                            a(href='single-product') Netbook Acer TravelMate B113-E-10072
                          .brand acer
                        .prices
                          .price-prev $1399.00
                          .price-current.pull-right $1199.00
                        .hover-area
                          .add-cart-button
                            a.le-button(href='single-product') add to cart
                          .wish-compare
                            a.btn-add-to-wishlist(href='#') add to wishlist
                            a.btn-add-to-compare(href='#') compare
                      // /.product-item
                    // /.product-item-holder
                    .col-xs-12.col-sm-4.no-margin.product-item-holder.hover
                      .product-item
                        .ribbon.red
                          span sale
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-01.jpg')
                        .body
                          .label-discount.green -50% sale
                          .title
                            a(href='single-product') VAIO Fit Laptop - Windows 8 SVF14322CXW
                          .brand sony
                        .prices
                          .price-prev $1399.00
                          .price-current.pull-right $1199.00
                        .hover-area
                          .add-cart-button
                            a.le-button(href='single-product') add to cart
                          .wish-compare
                            a.btn-add-to-wishlist(href='#') add to wishlist
                            a.btn-add-to-compare(href='#') compare
                      // /.product-item
                    // /.product-item-holder
                    .col-xs-12.col-sm-4.no-margin.product-item-holder.hover
                      .product-item
                        .ribbon.blue
                          span new!
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-02.jpg')
                        .body
                          .label-discount.clear
                          .title
                            a(href='single-product') White lumia 9001
                          .brand nokia
                        .prices
                          .price-prev $1399.00
                          .price-current.pull-right $1199.00
                        .hover-area
                          .add-cart-button
                            a.le-button(href='single-product') add to cart
                          .wish-compare
                            a.btn-add-to-wishlist(href='#') add to wishlist
                            a.btn-add-to-compare(href='#') compare
                      // /.product-item
                    // /.product-item-holder
                    .col-xs-12.col-sm-4.no-margin.product-item-holder.hover
                      .product-item
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-03.jpg')
                        .body
                          .label-discount.clear
                          .title
                            a(href='single-product') POV Action Cam
                          .brand sony
                        .prices
                          .price-prev $1399.00
                          .price-current.pull-right $1199.00
                        .hover-area
                          .add-cart-button
                            a.le-button(href='single-product') add to cart
                          .wish-compare
                            a.btn-add-to-wishlist(href='#') add to wishlist
                            a.btn-add-to-compare(href='#') compare
                      // /.product-item
                    // /.product-item-holder
                    .col-xs-12.col-sm-4.no-margin.product-item-holder.hover
                      .product-item
                        .ribbon.red
                          span sale
                        .ribbon.green
                          span bestseller
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-04.jpg')
                        .body
                          .label-discount.clear
                          .title
                            a(href='single-product') Netbook Acer TravelMate B113-E-10072
                          .brand acer
                        .prices
                          .price-prev $1399.00
                          .price-current.pull-right $1199.00
                        .hover-area
                          .add-cart-button
                            a.le-button(href='single-product') add to cart
                          .wish-compare
                            a.btn-add-to-wishlist(href='#') add to wishlist
                            a.btn-add-to-compare(href='#') compare
                      // /.product-item
                    // /.product-item-holder
                    .col-xs-12.col-sm-4.no-margin.product-item-holder.hover
                      .product-item
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-03.jpg')
                        .body
                          .label-discount.clear
                          .title
                            a(href='single-product') POV Action Cam
                          .brand sony
                        .prices
                          .price-prev $1399.00
                          .price-current.pull-right $1199.00
                        .hover-area
                          .add-cart-button
                            a.le-button(href='single-product') add to cart
                          .wish-compare
                            a.btn-add-to-wishlist(href='#') add to wishlist
                            a.btn-add-to-compare(href='#') compare
                      // /.product-item
                    // /.product-item-holder
                  // /.row
                // /.product-grid-holder
                .pagination-holder
                  .row
                    .col-xs-12.col-sm-6.text-left
                      ul.pagination
                        li.current
                          a(href='#') 1
                        li
                          a(href='#') 2
                        li
                          a(href='#') 3
                        li
                          a(href='#') 4
                        li
                          a(href='#') next
                    .col-xs-12.col-sm-6
                      .result-counter
                        | Showing 
                        span 1-9
                        |  of 
                        span 11
                        |  results
                  // /.row
                // /.pagination-holder
              // /.products-grid #grid-view
              #list-view.products-grid.fade.tab-pane
                .products-list
                  .product-item.product-item-holder
                    .ribbon.red
                      span sale
                    .ribbon.blue
                      span new!
                    .row
                      .no-margin.col-xs-12.col-sm-4.image-holder
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-01.jpg')
                      // /.image-holder
                      .no-margin.col-xs-12.col-sm-5.body-holder
                        .body
                          .label-discount.green -50% sale
                          .title
                            a(href='single-product') VAIO Fit Laptop - Windows 8 SVF14322CXW
                          .brand sony
                          .excerpt
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis euismod erat sit amet porta. Etiam venenatis ac diam ac tristique. Morbi accumsan consectetur odio ut tincidunt.
                          .addto-compare
                            a.btn-add-to-compare(href='#') add to compare list
                      // /.body-holder
                      .no-margin.col-xs-12.col-sm-3.price-area
                        .right-clmn
                          .price-current $1199.00
                          .price-prev $1399.00
                          .availability
                            label availability:
                            span.available   in stock
                          a.le-button(href='#') add to cart
                          a.btn-add-to-wishlist(href='#') add to wishlist
                      // /.price-area
                    // /.row
                  // /.product-item
                  .product-item.product-item-holder
                    .ribbon.green
                      span bestseller
                    .row
                      .no-margin.col-xs-12.col-sm-4.image-holder
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-02.jpg')
                      // /.image-holder
                      .no-margin.col-xs-12.col-sm-5.body-holder
                        .body
                          .label-discount.clear
                          .title
                            a(href='single-product') VAIO Fit Laptop - Windows 8 SVF14322CXW
                          .brand sony
                          .excerpt
                            .star-holder
                              .star(data-score='4')
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis euismod erat sit amet porta. Etiam venenatis ac diam ac tristique. Morbi accumsan consectetur odio ut tincidunt.
                          .addto-compare
                            a.btn-add-to-compare(href='#') add to compare list
                      // /.body-holder
                      .no-margin.col-xs-12.col-sm-3.price-area
                        .right-clmn
                          .price-current $1199.00
                          .price-prev $1399.00
                          .availability
                            label availability:
                            span.not-available out of stock
                          a.le-button.disabled(href='#') add to cart
                          a.btn-add-to-wishlist(href='#') add to wishlist
                      // /.price-area
                    // /.row
                  // /.product-item
                  .product-item.product-item-holder
                    .ribbon.red
                      span sell
                    .row
                      .no-margin.col-xs-12.col-sm-4.image-holder
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-03.jpg')
                      // /.image-holder
                      .no-margin.col-xs-12.col-sm-5.body-holder
                        .body
                          .label-discount.clear
                          .title
                            a(href='single-product') VAIO Fit Laptop - Windows 8 SVF14322CXW
                          .brand sony
                          .excerpt
                            .star-holder
                              .star(data-score='2')
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis euismod erat sit amet porta. Etiam venenatis ac diam ac tristique. Morbi accumsan consectetur odio ut tincidunt.
                          .addto-compare
                            a.btn-add-to-compare(href='#') add to compare list
                      // /.body-holder
                      .no-margin.col-xs-12.col-sm-3.price-area
                        .right-clmn
                          .price-current $1199.00
                          .price-prev $1399.00
                          .availability
                            label availability:
                            span.available in stock
                          a.le-button(href='#') add to cart
                          a.btn-add-to-wishlist(href='#') add to wishlist
                      // /.price-area
                    // /.row
                  // /.product-item
                  .product-item.product-item-holder
                    .row
                      .no-margin.col-xs-12.col-sm-4.image-holder
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-04.jpg')
                      // /.image-holder
                      .no-margin.col-xs-12.col-sm-5.body-holder
                        .body
                          .label-discount.green -50% sale
                          .title
                            a(href='single-product') VAIO Fit Laptop - Windows 8 SVF14322CXW
                          .brand sony
                          .excerpt
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis euismod erat sit amet porta. Etiam venenatis ac diam ac tristique. Morbi accumsan consectetur odio ut tincidunt.
                          .addto-compare
                            a.btn-add-to-compare(href='#') add to compare list
                      // /.body-holder
                      .no-margin.col-xs-12.col-sm-3.price-area
                        .right-clmn
                          .price-current $1199.00
                          .price-prev $1399.00
                          .availability
                            label availability:
                            span.available   in stock
                          a.le-button(href='#') add to cart
                          a.btn-add-to-wishlist(href='#') add to wishlist
                      // /.price-area
                    // /.row
                  // /.product-item
                  .product-item.product-item-holder
                    .ribbon.green
                      span bestseller
                    .row
                      .no-margin.col-xs-12.col-sm-4.image-holder
                        .image
                          img(alt='', src='/userStyle/images/blank.gif', data-echo='/userStyle/images/products/product-05.jpg')
                      // /.image-holder
                      .no-margin.col-xs-12.col-sm-5.body-holder
                        .body
                          .label-discount.clear
                          .title
                            a(href='single-product') VAIO Fit Laptop - Windows 8 SVF14322CXW
                          .brand sony
                          .excerpt
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis euismod erat sit amet porta. Etiam venenatis ac diam ac tristique. Morbi accumsan consectetur odio ut tincidunt.
                          .addto-compare
                            a.btn-add-to-compare(href='#') add to compare list
                      // /.body-holder
                      .no-margin.col-xs-12.col-sm-3.price-area
                        .right-clmn
                          .price-current $1199.00
                          .price-prev $1399.00
                          .availability
                            label availability:
                            span.available   in stock
                          a.le-button(href='#') add to cart
                          a.btn-add-to-wishlist(href='#') add to wishlist
                      // /.price-area
                    // /.row
                  // /.product-item
                // /.products-list
                .pagination-holder
                  .row
                    .col-xs-12.col-sm-6.text-left
                      ul.pagination
                        li.current
                          a(href='#') 1
                        li
                          a(href='#') 2
                        li
                          a(href='#') 3
                        li
                          a(href='#') 4
                        li
                          a(href='#') next
                      // /.pagination
                    .col-xs-12.col-sm-6
                      .result-counter
                        | Showing 
                        span 1-9
                        |  of 
                        span 11
                        |  results
                      // /.result-counter
                  // /.row
                // /.pagination-holder
              // /.products-grid #list-view
            // /.tab-content
          // /.grid-list-products
        // /#gaming
      // /.col
      // ========================================= CONTENT : END =========================================
    // /.container
  // /#category-grid
  // /.wrapper
  // For demo purposes – can be removed on production
  //- .config.open
  //-   .config-options
  //-     h4 Pages
  //-     ul.list-unstyled.animate-dropdown
  //-       li.dropdown
  //-         button.dropdown-toggle.btn.le-button.btn-block(data-toggle='dropdown') View Pages
  //-         ul.dropdown-menu
  //-           li
  //-             a(href='index') Home
  //-           li
  //-             a(href='index-2') Home Alt
  //-           li
  //-             a(href='category-grid') Category - Grid/List
  //-           li
  //-             a(href='category-grid-2') Category 2 - Grid/List
  //-           li
  //-             a(href='single-product') Single Product
  //-           li
  //-             a(href='single-product-sidebar') Single Product with Sidebar
  //-           li
  //-             a(href='cart') Shopping Cart
  //-           li
  //-             a(href='checkout') Checkout
  //-           li
  //-             a(href='about') About Us
  //-           li
  //-             a(href='contact') Contact Us
  //-           li
  //-             a(href='blog') Blog
  //-           li
  //-             a(href='blog-fullwidth') Blog Full Width
  //-           li
  //-             a(href='blog-post') Blog Post
  //-           li
  //-             a(href='faq') FAQ
  //-           li
  //-             a(href='terms') Terms & Conditions
  //-           li
  //-             a(href='authentication') Login/Register
  //-     h4 Header Styles
  //-     ul.list-unstyled
  //-       li
  //-         a(href='category-grid1') Header 1
  //-       li
  //-         a(href='category-grid') Header 2
  //-     h4 Colors
  //-     ul.list-unstyled
  //-       li
  //-         a.changecolor.green-text(href='#', title='Green color') Green
  //-       li
  //-         a.changecolor.blue-text(href='#', title='Blue color') Blue
  //-       li
  //-         a.changecolor.red-text(href='#', title='Red color') Red
  //-       li
  //-         a.changecolor.orange-text(href='#', title='Orange color') Orange
  //-       li
  //-         a.changecolor.navy-text(href='#', title='Navy color') Navy
  //-       li
  //-         a.changecolor.dark-green-text(href='#', title='Darkgreen color') Dark Green
  //-   a.show-theme-options(href='#')
  //-     i.fa.fa-wrench
  // For demo purposes – can be removed on production : End
  // JavaScripts placed at the end of the document so the pages load faster
  script(src='/userStyle/js/jquery-1.10.2.min.js')
  script(src='/userStyle/js/jquery-migrate-1.2.1.js')
  script(src='/userStyle/js/bootstrap.min.js')
  script(src='http://maps.google.com/maps/api/js?sensor=false&language=en')
  script(src='/userStyle/js/gmap3.min.js')
  script(src='/userStyle/js/bootstrap-hover-dropdown.min.js')
  script(src='/userStyle/js/owl.carousel.min.js')
  script(src='/userStyle/js/css_browser_selector.min.js')
  script(src='/userStyle/js/echo.min.js')
  script(src='/userStyle/js/jquery.easing-1.3.min.js')
  script(src='/userStyle/js/bootstrap-slider.min.js')
  script(src='/userStyle/js/jquery.raty.min.js')
  script(src='/userStyle/js/jquery.prettyPhoto.min.js')
  script(src='/userStyle/js/jquery.customSelect.min.js')
  script(src='/userStyle/js/wow.min.js')
  script(src='/userStyle/js/scripts.js')
  // For demo purposes – can be removed on production
  script(src='switchstylesheet/switchstylesheet.js')
  script.
    $(document).ready(function(){
      $(".changecolor").switchstylesheet( { seperator:"color"} );
        $('.show-theme-options').click(function(){
          $(this).parent().toggleClass('open');
          return false;
        });
      });
      $(window).bind("load", function() {
        $('.show-theme-options').delay(2000).trigger('click');
      });
  // For demo purposes – can be removed on production : End
  script(src='http://w.sharethis.com/button/buttons.js')
