extends layout
block listOnLeft
block itemSlide
  br
  .recommended_items
    // recommended_items
    h2.title.text-center recommended items
    #recommended-item-carousel.carousel.slide(data-ride='carousel')
      .carousel-inner
        .item.active
          .col-sm-4
            .product-image-wrapper
              .single-products
                .productinfo.text-center
                  img(src='/img/recommend1.jpg', alt='')
                  h2 $56
                  p Easy Polo Black Edition
                  button.btn.btn-default.add-to-cart(type='button')
                    i.fa.fa-shopping-cart
                    | Add to cart
          .col-sm-4
            .product-image-wrapper
              .single-products
                .productinfo.text-center
                  img(src='/img/recommend2.jpg', alt='')
                  h2 $56
                  p Easy Polo Black Edition
                  button.btn.btn-default.add-to-cart(type='button')
                    i.fa.fa-shopping-cart
                    | Add to cart
          .col-sm-4
            .product-image-wrapper
              .single-products
                .productinfo.text-center
                  img(src='/img/recommend3.jpg', alt='')
                  h2 $56
                  p Easy Polo Black Edition
                  button.btn.btn-default.add-to-cart(type='button')
                    i.fa.fa-shopping-cart
                    | Add to cart
        .item
          .col-sm-4
            .product-image-wrapper
              .single-products
                .productinfo.text-center
                  img(src='/img/recommend1.jpg', alt='')
                  h2 $56
                  p Easy Polo Black Edition
                  button.btn.btn-default.add-to-cart(type='button')
                    i.fa.fa-shopping-cart
                    | Add to cart
          .col-sm-4
            .product-image-wrapper
              .single-products
                .productinfo.text-center
                  img(src='/img/recommend2.jpg', alt='')
                  h2 $56
                  p Easy Polo Black Edition
                  button.btn.btn-default.add-to-cart(type='button')
                    i.fa.fa-shopping-cart
                    | Add to cart
          .col-sm-4
            .product-image-wrapper
              .single-products
                .productinfo.text-center
                  img(src='/img/recommend3.jpg', alt='')
                  h2 $56
                  p Easy Polo Black Edition
                  button.btn.btn-default.add-to-cart(type='button')
                    i.fa.fa-shopping-cart
                    | Add to cart
      a.left.recommended-item-control(href='#recommended-item-carousel', data-slide='prev')
        i.fa.fa-angle-left
      a.right.recommended-item-control(href='#recommended-item-carousel', data-slide='next')
        i.fa.fa-angle-right

block home
  #carousel13.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#carousel13', data-slide-to='0')
      li(data-target='#carousel13', data-slide-to='1')
      li(data-target='#carousel13', data-slide-to='2')
      li(data-target='#carousel13', data-slide-to='3')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      #slide1.item.active
        .carousel-caption
          h4 Hello world greater than
          p good hhhhh jdvl fsjlvnfjls jndvnsdfkjfv  kdlsv kpdsjv kjdv ndskjv  jdsv kdsjp ds
      #slide2.item
        .carousel-caption
          h4 Hello world greater than
          p good hhhhh jdvl fsjlvnfjls jndvnsdfkjfv  kdlsv kpdsjv kjdv ndskjv  jdsv kdsjp ds
      #slide3.item
        .carousel-caption
          h4 Hello world greater than
          p good hhhhh jdvl fsjlvnfjls jndvnsdfkjfv
      #slide4.item
        a(href='https://www.google.com.ly/?gws_rd=cr&ei=4xPzVNChOsnUaqLagbAN')
        .carousel-caption
          h4 0000000000000000000000000000000
          p
            | yyyyy
            a  rrrrrrrrrrrrrr 
            | yyyyyyyyy
      #slide5.item
        .carousel-caption
          h4 Hello world greater than
          p good hhhhh jdvl fsjlvnfjls jndvnsdfkjfv
    // Controls
    a.left.carousel-control(href='#carousel13', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#carousel13', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
    
//- script(src="/js/testPage.js")

//- #slide4.item
//-         a(href='https://www.google.com.ly/?gws_rd=cr&ei=4xPzVNChOsnUaqLagbAN')
//-           img(src='/img/14.png', alt='Click to vesit that ')
//-         .carousel-caption
//-           h4 0000000000000000000000000000000
//-           p
//-             | yyyyy
//-             a  rrrrrrrrrrrrrr 
//-             | yyyyyyyyy
block homeTest
