doctype html
html
  head
    title= title
    //- Meta
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='keywords', content='MediaCenter, Template, eCommerce')
    meta(name='robots', content='all')
    //- Bootstrap Core CSS
    link(rel='stylesheet', href='/userStyle/css/bootstrap.min.css')
    link(rel='stylesheet', href='/userStyle/css/style.css')
    //- Customizable CSS
    link(rel='stylesheet', href='/userStyle/css/main.css')
    link(rel='stylesheet', href='/userStyle/css/green.css')
    link(rel='stylesheet', href='/userStyle/css/owl.carousel.css')
    link(rel='stylesheet', href='/userStyle/css/owl.transitions.css')
    link(rel='stylesheet', href='/userStyle/css/animate.min.css')
    //- Demo Purpose Only. Should be removed in production
    link(rel='stylesheet', href='/userStyle/css/config.css')
    link(href='/userStyle/css/green.css', rel='alternate stylesheet', title='Green color')
    link(href='/userStyle/css/blue.css', rel='alternate stylesheet', title='Blue color')
    link(href='/userStyle/css/red.css', rel='alternate stylesheet', title='Red color')
    link(href='/userStyle/css/orange.css', rel='alternate stylesheet', title='Orange color')
    link(href='/userStyle/css/navy.css', rel='alternate stylesheet', title='Navy color')
    link(href='/userStyle/css/dark-green.css', rel='alternate stylesheet', title='Darkgreen color')
    //- Demo Purpose Only. Should be removed in production : END
    //- Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800', rel='stylesheet', type='text/css')
    //- Icons/Glyphs
    link(rel='stylesheet', href='/userStyle/css/font-awesome.min.css')
    //- Favicon
    link(rel='shortcut icon', href='/userStyle/images/favicon.ico')
    //- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js
    //-if lt IE 9
      script(src='/js/html5shiv.js')
      script(src='/js/respond.min.js')
  body
    block navigation
      //- ============================================================= TOP NAVIGATION =============================================================
      .wrapper
        nav.top-bar.animate-dropdown
          .container
            .col-xs-12.col-sm-6.no-margin
              ul
                li
                  a(href='index.html') Home
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#change-colors') Change Colors
                  ul.dropdown-menu(role='menu')
                    li(role='presentation')
                      a.changecolor.green-text(role='menuitem', tabindex='-1', href='#', title='Green color') Green
                    li(role='presentation')
                      a.changecolor.blue-text(role='menuitem', tabindex='-1', href='#', title='Blue color') Blue
                    li(role='presentation')
                      a.changecolor.red-text(role='menuitem', tabindex='-1', href='#', title='Red color') Red
                    li(role='presentation')
                      a.changecolor.orange-text(role='menuitem', tabindex='-1', href='#', title='Orange color') Orange
                    li(role='presentation')
                      a.changecolor.navy-text(role='menuitem', tabindex='-1', href='#', title='Navy color') Navy
                    li(role='presentation')
                      a.changecolor.dark-green-text(role='menuitem', tabindex='-1', href='#', title='Darkgreen color') Dark Green
                li
                  a(href='blog.html') Blog
                li
                  a(href='faq.html') FAQ
                li
                  a(href='contact.html') Contact
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#pages') Pages
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='index.html') Home
                    li
                      a(href='index-2.html') Home Alt
                    li
                      a(href='category-grid.html') Category - Grid/List
                    li
                      a(href='category-grid-2.html') Category 2 - Grid/List
                    li
                      a(href='single-product.html') Single Product
                    li
                      a(href='single-product-sidebar.html') Single Product with Sidebar
                    li
                      a(href='cart.html') Shopping Cart
                    li
                      a(href='checkout.html') Checkout
                    li
                      a(href='about.html') About Us
                    li
                      a(href='contact.html') Contact Us
                    li
                      a(href='blog.html') Blog
                    li
                      a(href='blog-fullwidth.html') Blog Full Width
                    li
                      a(href='blog-post.html') Blog Post
                    li
                      a(href='faq.html') FAQ
                    li
                      a(href='terms.html') Terms & Conditions
                    li
                      a(href='authentication.html') Login/Register
            //- /.col
            .col-xs-12.col-sm-6.no-margin
              ul.right
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#change-language') English
                  ul.dropdown-menu(role='menu')
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='#') Turkish
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='#') Tamil
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='#') French
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='#') Russian
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', href='#change-currency') Dollar (US)
                  ul.dropdown-menu(role='menu')
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='#') Euro (EU)
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='#') Turkish Lira (TL)
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='#') Indian Rupee (INR)
                    li(role='presentation')
                      a(role='menuitem', tabindex='-1', href='#') Dollar (US)
                li
                  a(href='authentication.html') Register
                li
                  a(href='authentication.html') Login
            //- /.col
          //- /.container
        //- /.top-bar
        //- ============================================================= TOP NAVIGATION : END =============================================================

    block content
      