doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styleUser.css')
    link(rel='stylesheet', href='/css/listUser.css')
    //- link(rel='stylesheet', href='/css/animateUser.css')
    link(rel='stylesheet', href='/css/itemsPhotoUser.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-rtl.min.css')
    link(rel='stylesheet', href='/css/bootstrap-editable.css')
    link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
  body
    block content
      block navigation
        nav.navbar(style='margin-bottom: 0;')
          .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')
            // Collect the nav links, forms, and other content for toggling
            a.navbar-brand.pull-left
            #bs-megadropdown-tabs.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-left
                li
                  a(href='#') Link
                li.dropdown.mega-dropdown.active.navbar-left
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Dropdown 
                    span.caret
                  .dropdown-menu.mega-dropdown-menu
                    .container-fluid
                      // Tab panes
                      .tab-content
                        #men.tab-pane.active
                          ul.nav-list.list-inline
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png')
                                span Running
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png')
                                span Basketball
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png')
                                span Football
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png')
                                span Soccer
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_MensTraining.png')
                                span Men's Training
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_WomensTraining.png')
                                span Women's Training
                        #women.tab-pane
                          ul.nav-list.list-inline
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png')
                                span Running
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png')
                                span Basketball
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png')
                                span Football
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png')
                                span Soccer
                        #kids.tab-pane
                          ul.nav-list.list-inline
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png')
                                span Running
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png')
                                span Basketball
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png')
                                span Football
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png')
                                span Soccer
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_MensTraining.png')
                                span Men's Training
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_WomensTraining.png')
                                span Women's Training
                        #sports.tab-pane
                          ul.nav-list.list-inline
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png')
                                span Basketball
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png')
                                span Football
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png')
                                span Soccer
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_MensTraining.png')
                                span Men's Training
                            li
                              a(href='#')
                                img(src='http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_WomensTraining.png')
                                span Women's Training
                    // Nav tabs
                    ul.nav.nav-tabs(role='tablist')
                      li.active
                        a(href='#men', role='tab', data-toggle='tab') Men
                      li
                        a(href='#women', role='tab', data-toggle='tab') Women
                      li
                        a(href='#kids', role='tab', data-toggle='tab') Kids
                      li
                        a(href='#sports', role='tab', data-toggle='tab') Sports
              
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    span.glyphicon.glyphicon-user
                    strong Nombre
                    span.glyphicon.glyphicon-chevron-down
                  ul.dropdown-menu
                    li
                      .navbar-login
                        .row
                          .col-md-4
                            p.text-center
                              span.glyphicon.glyphicon-user.icon-size
                          .col-md-8
                            p.text-left
                              strong Nombre Apellido
                            p.text-left.small correoElectronico@email.com
                            p.text-left
                              a.btn.btn-primary.btn-block.btn-sm(href='#') Actualizar Datos
                    li.divider
                    li
                      .navbar-login.navbar-login-session
                        .row
                          .col-lg-12
                            p
                              a.btn.btn-danger.btn-block(href='#') Cerrar Sesion
                 
            
        .panel.panel-warning(style='margin-bottom: 0;')
          .panel-body
            .row
              .col-xs-3.col-sm-3.col-md-3.col-lg-3
<<<<<<< HEAD
                .btn-group
                  button.btn.btn-labeled.btn-success(type='button')
                    span.btn-label
                      i.glyphicon.glyphicon-shopping-cart
                  button.btn.btn-info(type='button') Cart
                  button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                    span.caret
                    span.sr-only Toggle Dropdown
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      button.btn.btn-warning.btn-block(type='button') View Cart
                .btn-group
                  ul.nav.navbar-nav
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Your Account
                        span.glyphicon.glyphicon-user.pull-left
                      ul.dropdown-menu
                        li
                          a(href='#')
                            | Account Settings 
                            span.glyphicon.glyphicon-cog.pull-right
                        li.divider
                        li
                          a(href='#')
                            | User stats 
                            span.glyphicon.glyphicon-stats.pull-right
                        li.divider
                        li
                          a(href='#')
                            | Messages 
                            span.badge.pull-right  42 
                        li.divider
                        li
                          a(href='#')
                            | Favourites Snippets 
                            span.glyphicon.glyphicon-heart.pull-right
                        li.divider
                        li
                          a(href='#')
                            | Sign Out 
                            span.glyphicon.glyphicon-log-out.pull-right               
=======
                .mainmenu
                  .btn-group
                    button.btn.btn-labeled.btn-success(type='button')
                      span.btn-label
                        i.glyphicon.glyphicon-shopping-cart
                    button.btn.btn-info(type='button') Cart
                    button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                      span.caret
                      span.sr-only Toggle Dropdown
                    ul.dropdown-menu(role='menu')
                      li
                        a(href='#') Action
                      li
                        a(href='#') Another action
                      li
                        a(href='#') Something else here
                      li.divider
                      li
                        button.btn.btn-warning.btn-block(type='button') View Cart
                  .btn-group
                    ul.nav.navbar-nav
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                          | Iasmani 
                          span.glyphicon.glyphicon-user.pull-left
                        ul.dropdown-menu
                          li
                            a(href='#')
                              | Account Settings 
                              span.glyphicon.glyphicon-cog.pull-right
                          li.divider
                          li
                            a(href='#')
                              | User stats 
                              span.glyphicon.glyphicon-stats.pull-right
                          li.divider
                          li
                            a(href='#')
                              | Messages 
                              span.badge.pull-right  42 
                          li.divider
                          li
                            a(href='#')
                              | Favourites Snippets 
                              span.glyphicon.glyphicon-heart.pull-right
                          li.divider
                          li
                            a(href='#')
                              | Sign Out 
                              span.glyphicon.glyphicon-log-out.pull-right    
>>>>>>> 05aae03479fc7b893605de044daefb3254f29a20
              .col-xs-10.col-sm-6.col-md-6.col-lg-6
                form
                  .input-group
                    span.input-group-btn
                      button.btn.btn-default(type='button') Go
                    //- input.form-control(type='text') .input-lg .btn-lg
                    input.form-control.text-left(type='text', placeholder='Searsh')  
                    .input-group-btn
                      button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                        | All
                        span.caret
                      ul.dropdown-menu.pull-right
                        li
                          a(href='#') Department one
                        li
                          a(href='#') Sony
                        li
                          a(href='#') Vaio
                        li.divider
                        li
                          a(href='#') Department Two

            //- .pull-right.basketImg
      block sellerPage
      block home
      block listOnLeft
        .row
          .col-md-3.col-md-push-9
            .alert.alert-warning.text-left(style='margin-bottom: 0;')
              strong.text-danger CATEGORY
            #accordion.panel-group
              .panel.panel-warning
                .panel-heading
                  h4.panel-title.text-left
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                      | SPORTSWEAR
                      span.glyphicon.glyphicon-folder-close
                #collapseOne.text-left.panel-collapse.collapse.in
                  ul.list-group
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') NIKE
                      span.glyphicon.glyphicon-pencil.text-primary
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') UNDER ARMOUR
                      span.glyphicon.glyphicon-pencil.text-primary
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') ADIDAS
                      span.glyphicon.glyphicon-flash.text-success
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') PUMA
                      span.glyphicon.glyphicon-file.text-info
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') ASICS
                      span.glyphicon.glyphicon-file.text-info 
                    li.list-group-item
                      .pull-right
                        span.badge 13
                      a(href='http://fb.com/moinakbarali') Comments
                      span.glyphicon.glyphicon-comment.text-success
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') News
                      span.glyphicon.glyphicon-flash.text-success
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') Newsletters
                      span.glyphicon.glyphicon-file.text-info
                    li.list-group-item
                      .pull-right
                        span.badge 42
                      a(href='http://fb.com/moinakbarali') Comments
                      span.glyphicon.glyphicon-comment.text-success
              .panel.panel-warning
                .panel-heading
                  h4.panel-title.text-left
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                      | MEN
                      span.glyphicon.glyphicon-folder-close
                #collapseTwo.text-left.panel-collapse.collapse.in
                  ul.list-group
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') FENDI
                      span.glyphicon.glyphicon-pencil.text-primary
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') GUESS
                      span.glyphicon.glyphicon-pencil.text-primary
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') VALENTINO
                      span.glyphicon.glyphicon-flash.text-success
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') DIOR
                      span.glyphicon.glyphicon-file.text-info
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') VERSACE
                      span.glyphicon.glyphicon-file.text-info 
                    li.list-group-item
                      .pull-right
                        span.badge 13
                      a(href='http://fb.com/moinakbarali') ARMANI
                      span.glyphicon.glyphicon-comment.text-success
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') DOLCE AND GABBANA
                      span.glyphicon.glyphicon-flash.text-success
                    li.list-group-item
                      a(href='http://fb.com/moinakbarali') Newsletters
                      span.glyphicon.glyphicon-file.text-info
                    li.list-group-item
                      .pull-right
                        span.badge 42
                      a(href='http://fb.com/moinakbarali') Comments
                      span.glyphicon.glyphicon-comment.text-success  
              .panel.panel-warning
                .panel-heading
                  h4.panel-title.text-left
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
                      | Reports
                      span.glyphicon.glyphicon-file
                #collapseFour.text-left.panel-collapse.collapse
                  .list-group
                    a.list-group-item(href='#')
                      | Cras justo odio
                    .list-group
                      a.list-group-item(href='#')
                        | Cras justo odio
                      a.list-group-item(href='#') Dapibus ac facilisis in
                      a.list-group-item(href='#') Morbi leo risus
                      a.list-group-item(href='#') Porta ac consectetur ac
                      a.list-group-item(href='#') Vestibulum at eros
                    a.list-group-item(href='#') Dapibus ac facilisis in
                    a.list-group-item(href='#') Morbi leo risus
                    a.list-group-item(href='#') Porta ac consectetur ac
                    a.list-group-item(href='#') Vestibulum at eros
              .panel.panel-warning
                .panel-heading
                  h4.panel-title.text-left
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseFive')
                      | Reports
                      span.glyphicon.glyphicon-heart
                #collapseFive.panel-collapse.collapse.text-left
                  .list-group
                    a.list-group-item(href='#')
                      h4.list-group-item-heading List group item heading
                      p.list-group-item-text
                        | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                  .list-group
                    a.list-group-item.active(href='#')
                      h4.list-group-item-heading List group item heading
                      p.list-group-item-text
                        | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                  .list-group
                    a.list-group-item(href='#')
                      h4.list-group-item-heading List group item heading
                      p.list-group-item-text
                        | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
          .col-md-9.col-md-pull-3
            block items
              
  //- script(src="/js/jquery-1.11.2.min.js")
  script(src="/js/jquery-2.1.3.min.js")
  script(src="/js/bootstrap.min.js")
  script(src="/js/testPage.js")
