extends layout
block content
  .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
    a(href="/adminLogin")
      img#img-responsive(src="../img/nagaLogo1.png")
    .panel.panel-warning    
      .panel-body  
        .col-md-offset-1  
          h3.col-md-offset-1#h5Login Sign in
          form.form-horizontal#loginn(role="form",name="loginn")
            .form-group    
                label.col-md-2.col-md-offset-1 Email
                .col-md-8
                  .form-group
                    .col-md-11
                      input.col-md-offset-1#email( type = "email" , name = "email", placeholder = "Email")

                      
            .form-group    
              label.col-md-2.col-md-offset-1  Password
              .col-md-8
                .form-group
                  .col-md-11
                    input.col-md-offset-1#Password( type = "Password", placeholder = "Password",name="password")
                .form-group.internal
                  .col-md-11
                    a.col-md-offset-1(href='#')   Forgot your password?
                .form-group.internal
                  .col-md-11
                    a.col-md-offset-1(href='register')   I am a new customer  
            .form-group         
              .col-md-10.col-md-offset-4
               button.col-md-4#Loginbt(type= "submit") Login  



                 

  //script(src='/themes/js/jquery.js')
  script(src='/js/jquery-1.11.2.min.js')
  script(src="/js/jquery.validate.min.js")  
  script(src='/js/loginUser.js') 
  script(src='/themes/js/bootstrap.min.js')
  script(src='/themes/js/google-code-prettify/prettify.js')
  script(src='/themes/js/bootshop.js')
  script(src='/themes/js/jquery.lightbox-0.5.js')  
     
