extends layout
block navList_And_photoSlide
block header
block navListVertical  
block navigation
block footer  
block content

  main#authentication.inner-bottom-md
    .container
      .row
        .col-md-6.col-md-offset-3
          section.section.sign-in.inner-right-xs
            h2.bordered Sign In
            p Hello, Welcome to your account
            
            form.login-form.cf-style-1(role='form')
              .field-row
                label Email
                input.le-input(type='text')
              // /.field-row
              .field-row
                label Password
                input.le-input(type='text')
              // /.field-row
              .field-row.clearfix
                span.pull-left
                  label.content-color
                    input.le-checbox.auto-width.inline(type='checkbox')
                    span.bold Remember me
                span.pull-right
                  a.content-color.bold(href='#') Forgotten Password ?
              .buttons-holder
                button.le-button.huge(type='submit') Secure Sign In
              // /.buttons-holder
            // /.cf-style-1
          // /.sign-in
        // /.col


  // For demo purposes – can be removed on production : End
  // JavaScripts placed at the end of the document so the pages load faster
  script(src='/userStyle/js/jquery-1.10.2.min.js')
  script(src='/userStyle/js/jquery-migrate-1.2.1.js')
  script(src='/userStyle/js/bootstrap.min.js')
  script(src='http://maps.google.com/maps/api/js?sensor=false&language=en')
  script(src='/userStyle/js/gmap3.min.js')
  script(src='/userStyle/js/bootstrap-hover-dropdown.min.js')
  script(src='/userStyle/js/owl.carousel.min.js')
  script(src='/userStyle/js/css_browser_selector.min.js')
  script(src='/userStyle/js/echo.min.js')
  script(src='/userStyle/js/jquery.easing-1.3.min.js')
  script(src='/userStyle/js/bootstrap-slider.min.js')
  script(src='/userStyle/js/jquery.raty.min.js')
  script(src='/userStyle/js/jquery.prettyPhoto.min.js')
  script(src='/userStyle/js/jquery.customSelect.min.js')
  script(src='/userStyle/js/wow.min.js')
  script(src='/userStyle/js/scripts.js')
  // For demo purposes – can be removed on production
  script(src='switchstylesheet/switchstylesheet.js')
  script.
    $(document).ready(function(){
    $(".changecolor").switchstylesheet( { seperator:"color"} );
    $('.show-theme-options').click(function(){
    $(this).parent().toggleClass('open');
    return false;
    });
    });
    $(window).bind("load", function() {
    $('.show-theme-options').delay(2000).trigger('click');
    });
  // For demo purposes – can be removed on production : End
  script(src='http://w.sharethis.com/button/buttons.js')