extends layout
block content
  //.col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
    
    
  .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3 
    .panel.panel
      // Default panel contents
      .panel-heading

        
          .col-md-4.pull-right
            a(href="/adminLogin")
             img.img-responsive(src="../img/nagaLogo1.png")
          .row
            .col-md-3.pull-left
              h4#Reservationh4 Reservation      
      .panel-body
          .row
            .col-md-6.pull-left        
              
              span.spanerror#serror  
          form.form-horizontal(id="register",name="register" ,role="form" ,action="" ) 
            .form-group
              label.control-label.col-md-offset-1
                h4#Reservationh3 Pleas Your personal information
                      
            .form-group    
              label.label-sm.col-md-2.col-md-offset-2 Name       

              .col-xs-2.col-sm-2.col-md-2
                .form-group
                  input#FirstName.form-control.input-sm.left.phone-group(type='text', name='FirstName', placeholder='First Name')
              .col-xs-2.col-sm-2.col-md-2
                .form-group
                  input#LastName.form-control.input-sm(type='text', name='LastName', placeholder='Last Name')          

            .form-group    
              label.label-sm.col-md-2.col-md-offset-2 Email
              .col-xs-4.col-sm-4.col-md-4
                .form-group
                    input.form-control.input-sm(id="email", type = "email", placeholder = "Email" , name ="email")
                .form-group.internal
                    input.form-control.input-sm(id="confirmEmail",name="confirmEmail",type = "text", placeholder = "confirm Email")      
                      
            .form-group    
              label.small-label.col-md-2.col-md-offset-2  Password
              .col-xs-4.col-sm-4.col-md-4
                .form-group
                    input.form-control.input-sm#Password(name = "Password", type = "Password", placeholder = "Password")    
                .form-group.internal
                    input.form-control.input-sm(id="confirmPassword",name="confirmPassword",type = "text", placeholder = "confirm Password")  
            .form-group    
              label.small-label.col-md-2.col-md-offset-2 Phone Namber
              .col-xs-4.col-sm-4.col-md-4
                .form-group
                    input.form-control.input-sm(name="Mobile",id="Mobile", type = "Namber", placeholder = "Mobile: {xxx} - xxx xxxx")
                .form-group.internal
                    input.form-control.input-sm(name="HomePhone" , id="HomePhone" ,type= "Namber", placeholder = "HomePhone: {xxx} - xxx xxxx") 
            
                button#Loginbt(type= "submit") Request Reservation

    // MainBody End =============================
    script(src='/themes/js/bootstrap.min.js', type='text/javascript')
    script(src='/js/jquery-1.11.2.min.js') 
    script(src="/js/jquery.validate.min.js") 
    script(src="/js/register.js")
    script(src='/js/helpers.js')            
    script(src='/themes/js/google-code-prettify/prettify.js')
    script(src='/themes/js/jquery.lightbox-0.5.js')