
block items
    br 
    .features_items
      // features_items
      h2.title.text-center Features Items
      .col-md-3
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              img(src='/img/product12.jpg', alt='')
              h2 $56
              p Easy Polo Black Edition
              a.btn.btn-default.add-to-cart(href='#')
                i.fa.fa-shopping-cart
                | Add to cart
            .product-overlay
              .overlay-content
                h2 $56
                p Easy Polo Black Edition
                a.btn.btn-default.add-to-cart(href='#')
                  i.fa.fa-shopping-cart
                  | Add to cart
          .choose
            ul.nav.nav-pills.nav-justified
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to wishlist
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to compare
      .col-md-3
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              img(src='/img/product11.jpg', alt='')
              h2 $56
              p Easy Polo Black Edition
              a.btn.btn-default.add-to-cart(href='#')
                i.fa.fa-shopping-cart
                | Add to cart
            .product-overlay
              .overlay-content
                h2 $56
                p Easy Polo Black Edition
                a.btn.btn-default.add-to-cart(href='#')
                  i.fa.fa-shopping-cart
                  | Add to cart
          .choose
            ul.nav.nav-pills.nav-justified
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to wishlist
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to compare
      .col-md-3
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              img(src='/img/product10.jpg', alt='')
              h2 $56
              p Easy Polo Black Edition
              a.btn.btn-default.add-to-cart(href='#')
                i.fa.fa-shopping-cart
                | Add to cart
            .product-overlay
              .overlay-content
                h2 $56
                p Easy Polo Black Edition
                a.btn.btn-default.add-to-cart(href='#')
                  i.fa.fa-shopping-cart
                  | Add to cart
          .choose
            ul.nav.nav-pills.nav-justified
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to wishlist
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to compare
      .col-md-3
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              img(src='/img/product9.jpg', alt='')
              h2 $56
              p Easy Polo Black Edition
              a.btn.btn-default.add-to-cart(href='#')
                i.fa.fa-shopping-cart
                | Add to cart
            .product-overlay
              .overlay-content
                h2 $56
                p Easy Polo Black Edition
                a.btn.btn-default.add-to-cart(href='#')
                  i.fa.fa-shopping-cart
                  | Add to cart
            img.new(src='/img/new.png', alt='')
          .choose
            ul.nav.nav-pills.nav-justified
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to wishlist
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to compare
      .col-md-3
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              img(src='/img/product8.jpg', alt='')
              h2 $56
              p Easy Polo Black Edition
              a.btn.btn-default.add-to-cart(href='#')
                i.fa.fa-shopping-cart
                | Add to cart
            .product-overlay
              .overlay-content
                h2 $56
                p Easy Polo Black Edition
                a.btn.btn-default.add-to-cart(href='#')
                  i.fa.fa-shopping-cart
                  | Add to cart
            img.new(src='/img/sale.png', alt='')
          .choose
            ul.nav.nav-pills.nav-justified
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to wishlist
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to compare
      .col-md-3
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              img(src='/img/product7.jpg', alt='')
              h2 $56
              p Easy Polo Black Edition
              a.btn.btn-default.add-to-cart(href='#')
                i.fa.fa-shopping-cart
                | Add to cart
            .product-overlay
              .overlay-content
                h2 $56
                p Easy Polo Black Edition
                a.btn.btn-default.add-to-cart(href='#')
                  i.fa.fa-shopping-cart
                  | Add to cart
          .choose
            ul.nav.nav-pills.nav-justified
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to wishlist
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to compare
      .col-md-3
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              img(src='/img/product6.jpg', alt='')
              h2 $56
              p Easy Polo Black Edition
              a.btn.btn-default.add-to-cart(href='#')
                i.fa.fa-shopping-cart
                | Add to cart
            .product-overlay
              .overlay-content
                h2 $56
                p Easy Polo Black Edition
                a.btn.btn-default.add-to-cart(href='#')
                  i.fa.fa-shopping-cart
                  | Add to cart
          .choose
            ul.nav.nav-pills.nav-justified
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to wishlist
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to compare
      .col-md-3
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              img(src='/img/product5.jpg', alt='')
              h2 $56
              p Easy Polo Black Edition
              a.btn.btn-default.add-to-cart(href='#')
                i.fa.fa-shopping-cart
                | Add to cart
            .product-overlay
              .overlay-content
                h2 $56
                p Easy Polo Black Edition
                a.btn.btn-default.add-to-cart(href='#')
                  i.fa.fa-shopping-cart
                  | Add to cart
          .choose
            ul.nav.nav-pills.nav-justified
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to wishlist
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to compare
      .col-md-3
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              img(src='/img/product4.jpg', alt='')
              h2 $56
              p Easy Polo Black Edition
              a.btn.btn-default.add-to-cart(href='#')
                i.fa.fa-shopping-cart
                | Add to cart
            .product-overlay
              .overlay-content
                h2 $56
                p Easy Polo Black Edition
                a.btn.btn-default.add-to-cart(href='#')
                  i.fa.fa-shopping-cart
                  | Add to cart
          .choose
            ul.nav.nav-pills.nav-justified
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to wishlist
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to compare
      .col-md-3
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              img(src='/img/product3.jpg', alt='')
              h2 $56
              p Easy Polo Black Edition
              a.btn.btn-default.add-to-cart(href='#')
                i.fa.fa-shopping-cart
                | Add to cart
            .product-overlay
              .overlay-content
                h2 $56
                p Easy Polo Black Edition
                a.btn.btn-default.add-to-cart(href='#')
                  i.fa.fa-shopping-cart
                  | Add to cart
          .choose
            ul.nav.nav-pills.nav-justified
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to wishlist
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to compare
      .col-md-3
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              img(src='/img/product2.jpg', alt='')
              h2 $56
              p Easy Polo Black Edition
              a.btn.btn-default.add-to-cart(href='#')
                i.fa.fa-shopping-cart
                | Add to cart
            .product-overlay
              .overlay-content
                h2 $56
                p Easy Polo Black Edition
                a.btn.btn-default.add-to-cart(href='#')
                  i.fa.fa-shopping-cart
                  | Add to cart
          .choose
            ul.nav.nav-pills.nav-justified
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to wishlist
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to compare
      .col-md-3
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              img(src='/img/product1.jpg', alt='')
              h2 $56
              p Easy Polo Black Edition
              a.btn.btn-default.add-to-cart(href='#')
                i.fa.fa-shopping-cart
                | Add to cart
            .product-overlay
              .overlay-content
                h2 $56
                p Easy Polo Black Edition
                a.btn.btn-default.add-to-cart(href='#')
                  i.fa.fa-shopping-cart
                  | Add to cart
          .choose
            ul.nav.nav-pills.nav-justified
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to wishlist
              li
                a(href='')
                  i.fa.fa-plus-square
                  | Add to compare
      ul.pagination
        li.active
          a(href='') 1
        li
          a(href='') 2
        li
          a(href='') 3
        li
          a(href='') »
    // features_items

