extends layout
block Dashboard
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        h1  Item Manger
          small  Add Item
        ol.breadcrumb
          li
            i.fa.fa-dashboard
            a(href='/adminPage')  Dashboard
          li.active
            i.fa.fa-cart-arrow-down  Item Manger
          li.active
            i.fa  Add Item
        //- code start
        form#formItem.form-signin(role="form",name='formItem')
          .panel.panel-default
            .panel-heading
              .h3.panel-title Name & Descrption
            .panel-body
              .row
                .col-md-5.col-md-offset-1
                  .form-group
                    .h5 Item in Arabic
                    input#name.form-control(type="text",name="name", placeholder="Name in Arabic")
                .col-md-5
                  .form-group      
                    .h5 Item in English
                    input#name_en.form-control(type="text",name="name_en", placeholder="Name in English")
                .col-md-10.col-md-offset-1
                  .form-group
                    .h5 Descrption
                    textarea#item_desc.form-control(name="item_desc" placeholder="Please enter descrption here..." rows="10")
            .panel-heading
              .h3.panel-title Pricing
            .panel-body
              .row
                .col-md-5.col-md-offset-1
                  .form-group
                    .h5 Pric
                    .input-group
                      span.input-group-addon $
                      input.form-control(type='text', aria-label='Amount (to the nearest dollar)')
                      span.input-group-addon .00
                .col-md-5
                  .form-group      
                    .h5 Item in English
                    input#name_en.form-control(type="text",name="name_en", placeholder="Name in English")
                .col-md-10.col-md-offset-1
                  .form-group
                    .h5 Descrption
                    textarea#item_desc.form-control(name="item_desc" placeholder="Please enter descrption here..." rows="10")
          //- .panel.panel-default
          //-   .table-responsive
          //-     table.table.table-striped
          //-       tbody
          //-         tr
          //-           td
          //-             .form-group
          //-               .h4 Name & Descrption
          //-         tr
          //-           td
          //-             .row
          //-               .col-md-5.col-md-offset-1
          //-                 .form-group
          //-                   .h4 Item in Arabic
          //-                   input#name.form-control(type="text",name="name", placeholder="Name in Arabic")
          //-               .col-md-5
          //-                 .form-group      
          //-                   .h4 Item in English
          //-                   input#name_en.form-control(type="text",name="name_en", placeholder="Name in English")
          //-               .col-md-10.col-md-offset-1
          //-                 .form-group
          //-                   .h4 Descrption
          //-                   textarea#item_desc.form-control(name="item_desc" placeholder="Please enter descrption here..." rows="10")
          //-         tr
          //-           td.text-center 
          //-             .form-group
          //-               input.form-control#name(name='name', placeholder='Full Name', type='text')
          //-         tr
          //-           td.text-center 
          //-             .form-group
          //-               input.form-control#name(name='name', placeholder='Full Name', type='text')
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src="/js/jquery.validate.min.js")
  script(src='/metisMenu/dist/metisMenu.min.js')
  script(src='/js/sb-admin-2.js')