extends layout
block Dashboard
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header  Company Manger
            small  Company View
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/adminPage')  Dashboard
            li
              i.fa
              a(href='/adminCompany')  Company  
            li.active
              i.fa  View
      .panel.panel-default
            .panel-heading
              .row
                .col-md-3
                  h2.panel-title 
                    strong  Company View 
                .col-md-5
                .col-md-2 
                  a.btn.btn-danger(href='#newCompany', role='button',data-toggle='modal')
                    span.glyphicon.glyphicon-edit
                    |  Enable \ disable
                .col-md-2  
            .panel-body
              .row
                .col-lg-12
                  .col-xs-12.col-sm-4
                    figure
                      img.img-circle.img-responsive(alt='', src='http://placehold.it/300x300')
                  .col-xs-12.col-sm-8
                    ul.list-group
                      li.list-group-item Name Arabic: #{com[0].name}
                      li.list-group-item Name English: #{com[0].name_en}
                      li.list-group-item level : #
                      li.list-group-item phone : 
                        i.fa.fa-phone
                        |  000-000-0000
                      li.list-group-item Email : 
                        i.fa.fa-envelope
                        |  john@example.com
                      li.list-group-item 
                        input(type="file",name="logo", placeholder="logo",autofocus="")
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/metisMenu/dist/metisMenu.min.js')
  script(src='/js/sb-admin-2.js')