extends layout
block dashBord
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header  locations Manger
            small  Areas
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/adminPage')  Dashboard
            li.active
              i.fa  Areas
      .panel.panel-default
            .panel-heading
              .row
                .col-md-3
                  h2.panel-title 
                    strong  List of Area
                .col-md-5
                  form(role='search')
                    .input-group
                      input.form-control(type='text', placeholder='Search by name')
                      .input-group-btn
                        button.btn.btn-default(type='submit')
                          i.glyphicon.glyphicon-search
                .col-md-2 
                  a.btn.btn-success(href='#newArea', role='button',data-toggle='modal')
                    span.glyphicon.glyphicon-plus
                    |  Add Area
                .col-md-2  
                  button.btn.btn-primary
                    i.glyphicon.glyphicon-print
                    |  Print 
            .panel-body
              .table-responsive
                table.table.table-condensed
                  thead
                    tr
                      td
                        strong Name-Ar
                      td.text-center
                        strong Name-En
                      td.text-center
                        strong City
                      td.text-right
                        strong Edit
                      td.text-right
                        strong Trash 
                  tbody
                    // foreach ($order->lineItems as $line) or some such thing here
                    tr
                      td سوق الجمعة
                      td.text-center en
                      td.text-center 1
                      td.text-right 
                        button.btn.btn-info.btn-xs
                          span.glyphicon.glyphicon-pencil
                      td.text-right 
                        button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal')
                          span.glyphicon.glyphicon-trash     
                    tr
                      td عين زاره
                      td.text-center en
                      td.text-center 3
                      td.text-right 
                        button.btn.btn-info.btn-xs
                          span.glyphicon.glyphicon-pencil
                      td.text-right 
                        button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal')
                          span.glyphicon.glyphicon-trash    
                    tr
                      td غوط الشعال
                      td.text-center en
                      td.text-center 1
                      td.text-right 
                        button.btn.btn-info.btn-xs
                          span.glyphicon.glyphicon-pencil
                      td.text-right 
                        button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal')
                          span.glyphicon.glyphicon-trash    
          #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-headr.modal-header
                  p.h1 Sure you want to delete?
                .modal-body
                  p.h2 Are you sure
                  p 
                .modal-footer
                  button#delete.btn.btn-danger(type='button',data-dismiss='modal') Delete
                  button.btn.btn-success(data-dismiss='modal', type='button') Cancel
          #newArea.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-headr.modal-header
                  button.btn.pull-right.btn-danger(data-dismiss='modal', type='button') Cancel
                  button.close(type="button",data-dismiss="modal",aria-hidden="true")
                  h1(style='color:#5cb85c')
                    .glyphicon.glyphicon-plus
                    |  Add Area
                .row 
                  .col-md-offset-1
                    .modal-body
                      form#form.form-signin(role="form" , action="", method="post")
                        .row
                          .col-md-6
                              div.form-group
                                lable.h4 Name in Arabic
                                input#nameAn.form-control(type="text",name="employee_name", placeholder="Name in Arabic",autofocus="")
                              div.form-group
                                lable.h4 Name in English
                                input#nameEn.form-control(type="text",name="nid", placeholder="Latitudes",autofocus="")    
                              div.form-group
                                lable.h4 City
                                select#City.form-control(type="text",name="account_number", placeholder="Mahalla",autofocus="")
                          .col-xs-12.col-md-12
                            div.form-group.text-center
                              button.btn.btn-lg.btn-primary(type="submit") Add  
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/adminRegUsers.js')
  script(src='/metisMenu/dist/metisMenu.min.js')
  script(src='/js/sb-admin-2.js')
   