extends layout
block dashBord
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header
            | Dashboard 
            small Statistics Overview
          ol.breadcrumb
            li.active
              i.fa.fa-dashboard
              |  Dashboard
    .row
      .col-sm-3
        .tile-progress.tile-primary
          .tile-header
            h4 العدد الكلي للكروت : 10000 د.ل
            h4 المبلغ الكلي للكروت 95000 د.ل
            h4 فئة 10 : 3000
            h4 فئة 40 : 4000
            h4 فئة 100: 1000
          .tile-progressbar
            span(data-fill='10%', style='width: 100%;')
          .tile-footer
            h4
              span.pct-counter 100
              | % النسبة
            span الاحصائيات
      .col-sm-3
        .tile-progress.tile-red
          .tile-header
            h4 عدد الكروت المستخدة : 1150
            h4 فئة 10 : 3000
            h4 فئة 40 : 4000
            h4 فئة 100: 1000

          .tile-progressbar
            span(data-fill='11.5%', style='width: 11.5%;')
          .tile-footer
            h4
              span.pct-counter 11.5
              | % النسبة
            span الحصائيات 
      .col-sm-3
        .tile-progress.tile-blue
          .tile-header
            h4 عدد الكروت الغير مستخدمة : 8850 
            h4 فئة 10 : 3000
            h4 فئة 40 : 4000
            h4 فئة 100: 1000
          .tile-progressbar
            span(data-fill='88.5%', style='width: 88.5%;')
          .tile-footer
            h4
              span.pct-counter 88.5
              | % النسبة
            span الحصائيات
      .col-sm-3
        .tile-progress.tile-aqua
          .tile-header
            h4 المبلغ المستخدم : 33000 د.ل  
            h4 فئة 10 : 3000 د.ل 
            h4 فئة 40 : 4000 د.ل
            h4 فئة 100: 1000 د.ل
          .tile-progressbar
            span(data-fill='22%', style='width: 22%;')
          .tile-footer
            h4
              span.pct-counter 22
              | % النسبة 
            span الحصائيات
    .row
      .col-sm-3
        .tile-progress.tile-green
          .tile-header
            h4 المبلغ الغير مستخدم : 55000 د.ل
            h4 فئة 10 : 3000 د.ل 
            h4 فئة 40 : 4000 د.ل
            h4 فئة 100: 1000 د.ل 
          .tile-progressbar
            span(data-fill='88%', style='width: 88%;')
          .tile-footer
            h4
              span.pct-counter 88
              | % النسبة
            span الحصائيات
    
    



  

  script(src='/js/jquery-1.11.2.min.js') 
  script(src='/js/bootstrap.min.js')
  script(src="/js/jquery.validate.min.js")            
  script(src='/js/adminLogin.js')     

