extends layout
block dashBord
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header  Locations Manger
            small  Mahala
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/adminPage')  Dashboard
            li.active
              i.fa  Mahala
      .panel.panel-default
            .panel-heading
              .row
                .col-md-3
                  h2.panel-title 
                    strong  List of Mahala
                .col-md-5
                  form(role='search')
                    .input-group
                      input.form-control(type='text', placeholder='Search by name')
                      .input-group-btn
                        button.btn.btn-default(type='submit')
                          i.glyphicon.glyphicon-search
                .col-md-2 
                  a.btn.btn-success(href='#newMahala', role='button',data-toggle='modal')
                    span.glyphicon.glyphicon-plus
                    |  Add Mahala
                .col-md-2  
                  button.btn.btn-primary
                    i.glyphicon.glyphicon-print
                    |  Print 
            .panel-body
              .table-responsive
                table.table.table-condensed
                  thead
                    tr
                      td
                        strong Name-Ar
                      td.text-center
                        strong Name-En
                      td.text-center
                        strong Area
                      td.text-right
                        strong Edit
                      td.text-right
                        strong Trash 
                  tbody
                    // foreach ($order->lineItems as $line) or some such thing here
                    tr
                      td ff
                      td.text-center en
                      td.text-center 1
                      td.text-right 
                        button.btn.btn-info.btn-xs
                          span.glyphicon.glyphicon-pencil
                      td.text-right 
                        button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal')
                          span.glyphicon.glyphicon-trash     
                    tr
                      td rr
                      td.text-center en
                      td.text-center 3
                      td.text-right 
                        button.btn.btn-info.btn-xs
                          span.glyphicon.glyphicon-pencil
                      td.text-right 
                        button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal')
                          span.glyphicon.glyphicon-trash  
                    tr
                      td oo
                      td.text-center en
                      td.text-center 1
                      td.text-right 
                        button.btn.btn-info.btn-xs
                          span.glyphicon.glyphicon-pencil
                      td.text-right 
                        button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal')
                          span.glyphicon.glyphicon-trash     
          #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-headr.modal-header
                  p.h1 Sure you want to delete?
                .modal-body
                  p.h2 Are you sure
                  p 
                .modal-footer
                  button#delete.btn.btn-danger(type='button',data-dismiss='modal') Delete
                  button.btn.btn-success(data-dismiss='modal', type='button') Cancel
          #newMahala.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
             .modal-dialog
              .modal-content
                .modal-header.text-success
                  button.close(type="button", data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") × 
                  h2
                    .glyphicon.glyphicon-plus
                    |  Add Mahala
                .row 
                  .modal-body
                    form#formMahala.form-signin(role="form" , action="", method="post")
                      .col-xs-5.col-xs-offset-1.col-md-5.col-md-offset-1
                        .form-group
                          .h4 Name in Arabic
                          input#nameArabic.form-control(type="text", name="nameArabic", placeholder="Name in Arabic",autofocus="")
                      .col-xs-5.col-md-5
                        .form-group      
                          .h4 Name in English
                          input#nameEnglish.form-control(type="text", name="nameEnglish", placeholder="Name in English",autofocus="")
                      .col-xs-5.col-xs-offset-1.col-md-5.col-md-offset-1  
                        .form-group
                          .h4 City
                          select#city.form-control(type="text", name="city", autofocus="")
                      .col-xs-5.col-md-5  
                        .form-group
                          .h4 Area
                          select#area.form-control(type="text", name="area", autofocus="")
                .modal-footer
                  button.btn.btn-danger(data-dismiss='modal', type='button') Cancel
                  button.btn.btn-primary(type="submit") Save Change 
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/metisMenu/dist/metisMenu.min.js')
  script(src='/js/sb-admin-2.js')  
