extends layout
block Dashboard
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1 Dashboard 
            small Statistics Overview
          ol.breadcrumb
            li.active
              i.fa.fa-dashboard
              |  Dashboard
      // /.row
      .row
        .col-lg-3.col-md-6
          .panel.panel-primary
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-comments.fa-5x
                .col-xs-9.text-right
                  .huge 26
                  div New Comments!
            a(href='#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
        .col-lg-3.col-md-6
          .panel.panel-green
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-tasks.fa-5x
                .col-xs-9.text-right
                  .huge 12
                  div New Tasks!
            a(href='#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
        .col-lg-3.col-md-6
          .panel.panel-yellow
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-shopping-cart.fa-5x
                .col-xs-9.text-right
                  .huge 124
                  div New Orders!
            a(href='#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
        .col-lg-3.col-md-6
          .panel.panel-red
            .panel-heading
              .row
                .col-xs-3
                  i.fa.fa-support.fa-5x
                .col-xs-9.text-right
                  .huge 13
                  div Support Tickets!
            a(href='#')
              .panel-footer
                span.pull-left View Details
                span.pull-right
                  i.fa.fa-arrow-circle-right
                .clearfix
  //- #search
  //-   button.close(type='button') ×
  //-   form
  //-     input(type='search', value='', placeholder='type keyword(s) here')
  //-     button.btn.btn-primary(type='submit') Search
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/metisMenu/dist/metisMenu.min.js')
  script(src='/js/nprogress.js')
  script(src='/js/sb-admin-2.js')