extends layout
block dashBord
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header  Company Manger
            small  Company
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/adminPage')  Dashboard
            li.active
              i.fa  Company
      .panel.panel-default
            .panel-heading
              .row
                .col-md-3
                  h2.panel-title 
                    strong  List of Company 
                .col-md-5
                  form(role='search')
                    .input-group
                      input.form-control(type='text', placeholder='Search by name')
                      .input-group-btn
                        button.btn.btn-default(type='submit')
                          i.glyphicon.glyphicon-search
                .col-md-2 
                  a.btn.btn-success(href='#newCompany', role='button',data-toggle='modal')
                    span.glyphicon.glyphicon-plus
                    |  Add Company 
                .col-md-2  
            .panel-body
              .table-responsive
                table.table.table-condensed
                  thead
                    tr
                      td
                        strong Name in Arabic
                      td
                        strong Name in English
                      td.text-right
                        strong View
                       td.text-right
                        strong Edit  
                      td.text-right
                        strong Trash 
                  tbody
                    // foreach ($order->lineItems as $line) or some such thing here
                    tr
                      td ناقة
                      td naga
                      td.text-right
                        button.btn.btn-primary.btn-xs(href='#myModal', role='button',data-toggle='modal')
                          span.glyphicon.glyphicon-eye-open
                      td.text-right
                        button.btn.btn-info.btn-xs
                          span.glyphicon.glyphicon-pencil     
                      td.text-right 
                        button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal')
                          span.glyphicon.glyphicon-trash   
                    tr
                      td الروية
                      td vi
                      td.text-right
                        button.btn.btn-primary.btn-xs
                          span.glyphicon.glyphicon-eye-open 
                      td.text-right
                        button.btn.btn-info.btn-xs
                          span.glyphicon.glyphicon-pencil    
                      td.text-right 
                        button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal')
                          span.glyphicon.glyphicon-trash    

          #myModal.modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true')
                    i.text-danger.fa.fa-times
                  h4#myModalLabel.modal-title
                    i.text-muted.fa.fa-file 
                    strong  02051
                    |  - Company
                .modal-body
                  table.pull-left.col-md-8
                    tbody
                      tr
                        td.h4
                          strong Name
                        td  
                        td.h3 naga
                      tr
                        td.h4
                          strong Phone number
                        td  
                        td.h3 1223334444
                      tr
                        td.h4
                          strong Address
                        td  
                        td.h3 Tripoli
                        td  
                        td.h3
                  .col-md-4
                    img.img-thumbnail(src='http://lorempixel.com/150/150/technics/', alt='teste')
                  .clearfix
                .modal-footer
                  .text-right.pull-right.col-md-3
                  //-   | Varejo: 
                  //-   br
                  //-   span.h3.text-muted
                  //-     strong  R$50,00 
                  //- .text-right.pull-right.col-md-3
                  //-   | Atacado: 
                  //-   br
                  //-   span.h3.text-muted
                  //-     strong R$35,00
          #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-headr.modal-header-danger
                  p.h1 Sure you want to delete?
                .modal-body
                  p.h2 Are you sure
                  p 
                .modal-footer
                  button#delete.btn.btn-danger(type='button',data-dismiss='modal') Delete
                  button.btn.btn-success(data-dismiss='modal', type='button') Cancel
          #newCompany.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
             .modal-dialog
              .modal-content
                .modal-headr.modal-header-success
                  button.close(type="button", data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") × 
                  h2
                    .glyphicon.glyphicon-plus
                    |  Add Company
                .row 
                  .modal-body
                    form#formGenre.form-signin(role="form" , action="", method="post")
                      .col-xs-5.col-xs-offset-1.col-md-5.col-md-offset-1
                        .form-group
                          .h4 Name in Arabic
                          input#name.form-control(type="text", name="name", placeholder="Name in Arabic",autofocus="")
                      .col-xs-5.col-md-5
                        .form-group      
                          .h4 Name in English
                          input#name_en.form-control(type="text", name="name_en", placeholder="Name in English",autofocus="")
                .modal-footer
                  button.btn.btn-danger(data-dismiss='modal', type='button') Cancel
                  button.btn.btn-primary(type="submit") Save Change 
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/metisMenu/dist/metisMenu.min.js')
  script(src='/js/sb-admin-2.js')  
  script(src='/js/Genre.js')