extends layout
block dashBord
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header  Locations Manger
            small  Mahala
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/adminPage')  Dashboard
            li.active
              i.fa Locations Manger
            li.active
              i.fa  Mahala
          .panel.panel-default.filterable
            .panel-heading
              .row
                .col-xs-3.col-md-2
                  h3.panel-title#title
                    strong List of Areas
                .pull-right
                  button#space.btn.btn-primary.btn-filter
                    i.glyphicon.glyphicon-filter
                    |  Filter of Search
                  a#space.btn.btn-success(href='#newArea', role='button',data-toggle='modal')
                    i.glyphicon.glyphicon-plus
                    |  Add Area
                  button#space.btn.btn.btn-info
                    i.glyphicon.glyphicon-print
                    |  Print 
            .table-responsive
              table.table.table-striped.table-condensed
                thead
                  tr.filters
                    th
                      //- strong Mahala Name in Arabic
                      input.form-control.text-center(type='text', placeholder='Mahala Name in Arabic', disabled='')
                    th
                      //- strong Mahala Name in English
                      input.form-control.text-center(type='text', placeholder='Mahala Name in English', disabled='')
                    th
                      //- strong Area Name in Arabic
                      input.form-control.text-center(type='text', placeholder='Area Name in Arabic', disabled='')
                    th
                      //- strong Area Name in English
                      input.form-control.text-center(type='text', placeholder='Area Name in English', disabled='')
                    th.text-center
                      strong Edit
                    th.text-center
                      strong Trash 
                tfoot
                  tr
                    th.text-center
                      | Mahala Name in Arabic
                    th.text-center
                      | Mahala Name in English
                    th.text-center
                      | Area Name in Arabic
                    th.text-center
                      | Area Name in English
                    th.text-center
                      | Edit
                    th.text-center
                      | Trash
                tbody
                  // foreach ($order->lineItems as $line) or some such thing here
                  tr
                    td.text-center ff
                    td.text-center en
                    td.text-center ar
                    td.text-center 1
                    td.text-center
                      button.btn.btn-info.btn-xs
                        span.glyphicon.glyphicon-pencil
                    td.text-center 
                      button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal')
                        span.glyphicon.glyphicon-trash     
                  tr
                    td.text-center rr
                    td.text-center en
                    td.text-center ar
                    td.text-center 3
                    td.text-center
                      button.btn.btn-info.btn-xs
                        span.glyphicon.glyphicon-pencil
                    td.text-center
                      button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal')
                        span.glyphicon.glyphicon-trash  
                  tr
                    td.text-center oo
                    td.text-center en
                    td.text-center ar
                    td.text-center 1
                    td.text-center 
                      button.btn.btn-info.btn-xs
                        span.glyphicon.glyphicon-pencil
                    td.text-center 
                      button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal')
                        span.glyphicon.glyphicon-trash     
          #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-headr.modal-header-danger
                  p.h1 Sure you want to delete?
                .modal-body
                  p.h2 Are you sure
                  p 
                .modal-footer
                  button#delete.btn.btn-danger(type='button',data-dismiss='modal') Delete
                  button.btn.btn-success(data-dismiss='modal', type='button') Cancel
          #newMahala.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
             .modal-dialog
              .modal-content
                .modal-headr.modal-header-success
                  button.close(type="button", data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") × 
                  h2
                    .glyphicon.glyphicon-plus
                    |  Add Mahala
                .row 
                  .modal-body
                    form#formMahala.form-signin(role="form" , action="", method="post")
                      .col-xs-5.col-xs-offset-1.col-md-5.col-md-offset-1
                        .form-group
                          .h4 Name in Arabic
                          input#nameArabic.form-control(type="text", name="nameArabic", placeholder="Name in Arabic",autofocus="")
                      .col-xs-5.col-md-5
                        .form-group      
                          .h4 Name in English
                          input#nameEnglish.form-control(type="text", name="nameEnglish", placeholder="Name in English",autofocus="")
                      .col-xs-5.col-xs-offset-1.col-md-5.col-md-offset-1  
                        .form-group
                          .h4 City
                          select#city.form-control(type="text", name="city", autofocus="")
                      .col-xs-5.col-md-5  
                        .form-group
                          .h4 Area
                          select#area.form-control(type="text", name="area", autofocus="")
                .modal-footer
                  button.btn.btn-danger(data-dismiss='modal', type='button') Cancel
                  button.btn.btn-primary(type="submit") Save Change 
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/metisMenu/dist/metisMenu.min.js')
  script(src='/js/bootstrap-editable.min.js')
  script(src='/js/sb-admin-2.js')
  script(src='/js/searchFilter.js') 
