extends layout
block dashBord
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header  Locations Manger
            small  Schools
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/adminPage')  Dashboard
            li.active
              i.fa  Schools
      .panel.panel-default
            .panel-heading
              .row
                .col-xs-2.col-md-3
                  h2.panel-title 
                    strong  List of Schools
                .col-xs-5.col-md-5
                  form(role='search')
                    .input-group
                      input.form-control(type='text', placeholder='Search by name')
                      .input-group-btn
                        button.btn.btn-default(type='submit')
                          i.glyphicon.glyphicon-search
                .col-xs-3.col-md-2
                  a.btn.btn-success(href='#newschool', role='button',data-toggle='modal')
                    .glyphicon.glyphicon-plus 
                    |  Add School
                .col-xs-2.col-md-2 
                  button.btn.btn-primary
                    i.glyphicon.glyphicon-print
                    |  Print 
            .panel-body
              .table-responsive
                table.table.table-condensed
                  thead
                    tr
                      td
                        strong Name in Arabic
                      td
                        strong Name in English
                      td
                        strong City Nmae
                      td
                        strong Area Name
                      td
                        strong Mahalla Nmae
                      td
                        strong Latitude Number
                      td
                        strong Longitude Number
                      td.text-right
                        strong Edit
                      td.text-right
                        strong Trash 
                  tbody
                    // foreach ($order->lineItems as $line) or some such thing here
                    tr
                      td
                        a#nameArabic.editable.editable-click(href='#', data-type='text', data-pk='1') الزبير بن عوام
                      td 
                        a#nameEnglish.editable.editable-click(href='#', data-type='text', data-pk='1') Zubair bin owaam
                      td
                        a#city.editable.editable-click(href='#', data-type='text', data-pk='1') طرابلس
                      td
                        a#area.editable.editable-click(href='#', data-type='text', data-pk='1') ابو سليم
                      td
                        a#mahalla.editable.editable-click(href='#', data-type='text', data-pk='1') حي ناصر
                      td
                        a#latitude.editable.editable-click(href='#', data-type='text', data-pk='1') 100.50
                      td
                        a#longitude.editable.editable-click(href='#', data-type='text', data-pk='1') 144.50
                      td.text-right
                        button.btn.btn-info.btn-xs#enable
                          span.glyphicon.glyphicon-pencil
                      td.text-right
                        button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal')
                          span.glyphicon.glyphicon-trash       
          #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-headr.modal-header
                  p.h1 Sure you want to delete?
                .modal-body
                  p.h2 Are you sure
                  p 
                .modal-footer
                  button#delete.btn.btn-danger(type='button',data-dismiss='modal') Delete
                  button.btn.btn-success(data-dismiss='modal', type='button') Cancel
          #newschool.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-header.text-success
                  button.close(type="button", data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
                  h2
                    .glyphicon.glyphicon-plus
                    |  Add School
                .row 
                  .modal-body
                    form#formSchool.form-signin(role="form" , action="", method="post")
                      .col-xs-6.col-md-6
                        .form-group
                          .h4 Name in Arabic
                          input#nameArabic.form-control(type="text",name="nameArabic", placeholder="Name in Arabic",autofocus="")
                        .form-group
                          .h4 Latitudes
                          input#latitudes.form-control(type="text",name="latitudes", placeholder="Latitudes",autofocus="")    
                        .form-group
                          .h4 City
                          select#city.form-control(type="text",name="city", placeholder="Mahalla",autofocus="")
                      .col-xs-6.col-md-6
                        .form-group
                          .h4 Name in English
                          input#nameEnglish.form-control(type="text",name="nameEnglish", placeholder="Name in English",autofocus="")
                        .form-group
                          .h4 Meridians
                          input#meridians.form-control(type="text",name="meridians", placeholder="Meridians",autofocus="")
                        .form-group
                          .h4 Area
                          select#area.form-control(type="text",name="area", placeholder="Mahalla",autofocus="")    
                      .col-xs-6.col-xs-offset-3.col-md-6.col-md-offset-3
                        .form-group
                          .h4 Mahalla
                          select#mahalla.form-control(type="text",name="mahalla", placeholder="Name in English",autofocus="")
                .modal-footer
                  button.btn.btn-danger(data-dismiss='modal', type='button') Cancel
                  button.btn.btn-primary(type="submit") Save Change
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/metisMenu/dist/metisMenu.min.js')
  script(src='/js/bootstrap-editable.min.js')
  script(src='/js/editSchool.js')
  script(src='/js/sb-admin-2.js')
